.new-info
	img.new-info__img(src='img/footer/footer-new-info.png' alt='')
	p.new-info__copy
		|The website is operated and managed by MYEG (Emancipate Boulevard 29, Willemstad, Curracao). Licence No. 5536/JAZ.
		span.new-info__licence  OceanCasino.com © 2016
