section.accountHistory
	.profile__container
		p.profile__path
			| Home page > My profile > History of operations
		h2.profile__title History of operations
		table.accountHistory__table
			thead
				tr.accountHistory__search
					td(colspan="7")
						form.accountHistory__searchForm(action="#")
							label.accountHistory__searchDate Search by date: 
								input(placeholder="from")
								input(placeholder="by")
							label.accountHistory__searchSelect by type: 
								select
									option(value="1") in
									option(value="2") out
							label.accountHistory__searchSubmit
								input(type="submit" value="Browse")
				tr.accountHistory__header
					th ID of operation
					th Date
					th Method
					th Amount
					th Type
					th Status
					th More
			tbody
				tr.accountHistory__row
					td.accountHistory__item #2653455333
					td.accountHistory__item 22.09.2015
					td.accountHistory__item 
						img.accountHistory__img(src="img/profile/visa.png" alt="")
					td.accountHistory__item $3000.232
					td.accountHistory__item 
						img.accountHistory__img(src="img/profile/arrow.png" alt="")
					td.accountHistory__item 
						img.accountHistory__img(src="img/profile/ok.png" alt="")
					td.accountHistory__item 
						button.accountHistory__button Transfer
				tr.accountHistory__openRow.accountHistory__openRow--closed
					td(colspan="7") 
						.accountHistory__openItem
							img.accountHistory__close(src="img/profile/close.png" alt="")
							p.accountHistory__openHeader
								img.accountHistory__openImg(src="img/profile/visa.png" alt="")
								| 12.08.2015
							p.accountHistory__openText
								| Detailed description of the operation ID 
								em № 3232311123
							p.accountHistory__openText
								| Amount: 
								em $238.52
							p.accountHistory__openText
								| Status: 
								em.accountHistory__openRed Denied
							p.accountHistory__openText
								| Reason: 
								em.accountHistory__openRed Lack of customer data
				tr.accountHistory__row
					td.accountHistory__item #2653455333
					td.accountHistory__item 22.09.2015
					td.accountHistory__item 
						img.accountHistory__img(src="img/profile/visa.png" alt="")
					td.accountHistory__item $3000.232
					td.accountHistory__item 
						img.accountHistory__img(src="img/profile/arrow.png" alt="")
					td.accountHistory__item 
						img.accountHistory__img(src="img/profile/ok.png" alt="")
					td.accountHistory__item 
						button.accountHistory__button Transfer
				tr.accountHistory__openRow.accountHistory__openRow--closed
					td(colspan="7") 
						.accountHistory__openItem
							img.accountHistory__close(src="img/profile/close.png" alt="")
							p.accountHistory__openHeader
								img.accountHistory__openImg(src="img/profile/visa.png" alt="")
								| 12.08.2015
							p.accountHistory__openText
								| Detailed description of the operation ID 
								em № 3232311123
							p.accountHistory__openText
								| Amount: 
								em $238.52
							p.accountHistory__openText
								| Status: 
								em.accountHistory__openRed Denied
							p.accountHistory__openText
								| Reason: 
								em.accountHistory__openRed Lack of customer data
				tr.accountHistory__row
					td.accountHistory__item #2653455333
					td.accountHistory__item 22.09.2015
					td.accountHistory__item 
						img.accountHistory__img(src="img/profile/visa.png" alt="")
					td.accountHistory__item $3000.232
					td.accountHistory__item 
						img.accountHistory__img(src="img/profile/arrow.png" alt="")
					td.accountHistory__item 
						img.accountHistory__img(src="img/profile/ok.png" alt="")
					td.accountHistory__item 
						button.accountHistory__button Transfer
				tr.accountHistory__openRow.accountHistory__openRow--closed
					td(colspan="7") 
						.accountHistory__openItem
							img.accountHistory__close(src="img/profile/close.png" alt="")
							p.accountHistory__openHeader
								img.accountHistory__openImg(src="img/profile/visa.png" alt="")
								| 12.08.2015
							p.accountHistory__openText
								| Detailed description of the operation ID 
								em № 3232311123
							p.accountHistory__openText
								| Amount: 
								em $238.52
							p.accountHistory__openText
								| Status: 
								em.accountHistory__openRed Denied
							p.accountHistory__openText
								| Reason: 
								em.accountHistory__openRed Lack of customer data
				tr.accountHistory__row
					td.accountHistory__item #2653455333
					td.accountHistory__item 22.09.2015
					td.accountHistory__item 
						img.accountHistory__img(src="img/profile/visa.png" alt="")
					td.accountHistory__item $3000.232
					td.accountHistory__item 
						img.accountHistory__img(src="img/profile/arrow.png" alt="")
					td.accountHistory__item 
						img.accountHistory__img(src="img/profile/ok.png" alt="")
					td.accountHistory__item 
						button.accountHistory__button Transfer
				tr.accountHistory__openRow.accountHistory__openRow--closed
					td(colspan="7") 
						.accountHistory__openItem
							img.accountHistory__close(src="img/profile/close.png" alt="")
							p.accountHistory__openHeader
								img.accountHistory__openImg(src="img/profile/visa.png" alt="")
								| 12.08.2015
							p.accountHistory__openText
								| Detailed description of the operation ID 
								em № 3232311123
							p.accountHistory__openText
								| Amount: 
								em $238.52
							p.accountHistory__openText
								| Status: 
								em.accountHistory__openRed Denied
							p.accountHistory__openText
								| Reason: 
								em.accountHistory__openRed Lack of customer data
				tr.accountHistory__row
					td.accountHistory__item #2653455333
					td.accountHistory__item 22.09.2015
					td.accountHistory__item 
						img.accountHistory__img(src="img/profile/visa.png" alt="")
					td.accountHistory__item $3000.232
					td.accountHistory__item 
						img.accountHistory__img(src="img/profile/arrow.png" alt="")
					td.accountHistory__item 
						img.accountHistory__img(src="img/profile/ok.png" alt="")
					td.accountHistory__item 
						button.accountHistory__button Transfer
				tr.accountHistory__openRow.accountHistory__openRow--closed
					td(colspan="7") 
						.accountHistory__openItem
							img.accountHistory__close(src="img/profile/close.png" alt="")
							p.accountHistory__openHeader
								img.accountHistory__openImg(src="img/profile/visa.png" alt="")
								| 12.08.2015
							p.accountHistory__openText
								| Detailed description of the operation ID 
								em № 3232311123
							p.accountHistory__openText
								| Amount: 
								em $238.52
							p.accountHistory__openText
								| Status: 
								em.accountHistory__openRed Denied
							p.accountHistory__openText
								| Reason: 
								em.accountHistory__openRed Lack of customer data
				tr.accountHistory__row
					td.accountHistory__item #2653455333
					td.accountHistory__item 22.09.2015
					td.accountHistory__item 
						img.accountHistory__img(src="img/profile/visa.png" alt="")
					td.accountHistory__item $3000.232
					td.accountHistory__item 
						img.accountHistory__img(src="img/profile/arrow.png" alt="")
					td.accountHistory__item 
						img.accountHistory__img(src="img/profile/ok.png" alt="")
					td.accountHistory__item 
						button.accountHistory__button Transfer
				tr.accountHistory__openRow.accountHistory__openRow--closed
					td(colspan="7") 
						.accountHistory__openItem
							img.accountHistory__close(src="img/profile/close.png" alt="")
							p.accountHistory__openHeader
								img.accountHistory__openImg(src="img/profile/visa.png" alt="")
								| 12.08.2015
							p.accountHistory__openText
								| Detailed description of the operation ID 
								em № 3232311123
							p.accountHistory__openText
								| Amount: 
								em $238.52
							p.accountHistory__openText
								| Status: 
								em.accountHistory__openRed Denied
							p.accountHistory__openText
								| Reason: 
								em.accountHistory__openRed Lack of customer data
				tr.accountHistory__row
					td.accountHistory__item #2653455333
					td.accountHistory__item 22.09.2015
					td.accountHistory__item 
						img.accountHistory__img(src="img/profile/visa.png" alt="")
					td.accountHistory__item $3000.232
					td.accountHistory__item 
						img.accountHistory__img(src="img/profile/arrow.png" alt="")
					td.accountHistory__item 
						img.accountHistory__img(src="img/profile/ok.png" alt="")
					td.accountHistory__item 
						button.accountHistory__button Transfer
				tr.accountHistory__openRow.accountHistory__openRow--closed
					td(colspan="7") 
						.accountHistory__openItem
							img.accountHistory__close(src="img/profile/close.png" alt="")
							p.accountHistory__openHeader
								img.accountHistory__openImg(src="img/profile/visa.png" alt="")
								| 12.08.2015
							p.accountHistory__openText
								| Detailed description of the operation ID 
								em № 3232311123
							p.accountHistory__openText
								| Amount: 
								em $238.52
							p.accountHistory__openText
								| Status: 
								em.accountHistory__openRed Denied
							p.accountHistory__openText
								| Reason: 
								em.accountHistory__openRed Lack of customer data
				tr.accountHistory__row
					td.accountHistory__item #2653455333
					td.accountHistory__item 22.09.2015
					td.accountHistory__item 
						img.accountHistory__img(src="img/profile/visa.png" alt="")
					td.accountHistory__item $3000.232
					td.accountHistory__item 
						img.accountHistory__img(src="img/profile/arrow.png" alt="")
					td.accountHistory__item 
						img.accountHistory__img(src="img/profile/ok.png" alt="")
					td.accountHistory__item 
						button.accountHistory__button Transfer
				tr.accountHistory__openRow.accountHistory__openRow--closed
					td(colspan="7") 
						.accountHistory__openItem
							img.accountHistory__close(src="img/profile/close.png" alt="")
							p.accountHistory__openHeader
								img.accountHistory__openImg(src="img/profile/visa.png" alt="")
								| 12.08.2015
							p.accountHistory__openText
								| Detailed description of the operation ID 
								em № 3232311123
							p.accountHistory__openText
								| Amount: 
								em $238.52
							p.accountHistory__openText
								| Status: 
								em.accountHistory__openRed Denied
							p.accountHistory__openText
								| Reason: 
								em.accountHistory__openRed Lack of customer data
