@font-face {
	font-family: "GothamPro";
	src: url("fonts/GothaPro/GothaProBla.otf");
	font-style: normal;
	font-weight: 800;
}
@font-face {
	font-family: "GothamPro";
	src: url("fonts/GothaPro/GothaProBlaIta.otf");
	font-style: italic;
	font-weight: 800;
}
@font-face {
	font-family: "GothamPro";
	src: url("fonts/GothaPro/GothaProBol.otf");
	font-style: normal;
	font-weight: 600;
}
@font-face {
	font-family: "GothamPro";
	src: url("fonts/GothaPro/GothaProBolIta.otf");
	font-style: italic;
	font-weight: 600;
}
@font-face {
	font-family: "GothamPro";
	src: url("fonts/GothaPro/GothaProMed.otf");
	font-style: normal;
	font-weight: 500;
}
@font-face {
	font-family: "GothamPro";
	src: url("fonts/GothaPro/GothaProMedIta.otf");
	font-style: italic;
	font-weight: 500;
}
@font-face {
	font-family: "GothamPro";
	src: url("fonts/GothaPro/GothaProReg.otf");
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: "GothamPro";
	src: url("fonts/GothaPro/GothaProIta.otf");
	font-style: italic;
	font-weight: 400;
}
@font-face {
	font-family: "GothamPro";
	src: url("fonts/GothaPro/GothaProLig.otf");
	font-style: normal;
	font-weight: 200;
}
@font-face {
	font-family: "GothamPro";
	src: url("fonts/GothaPro/GothaProLigIta.otf");
	font-style: italic;
	font-weight: 200;
}

