.closed
  display: none

.header
  position: relative
  height: $header-height
  background-image: url("img/header/header-bg.png")
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15)


  &__lowerLayer
    position: absolute
    top: 0
    left: 0
    width: 100%
    z-index: 2

  &__higherLayer
    position: absolute
    top: 0
    left: 0
    width: 100%

  &__container
    position: relative
    max-width: 1000px
    margin: 0 auto

  &__logo
    position: relative
    z-index: 3
    display: inline-block
    // padding: 1em
    padding-bottom: 0

  &__nav
    display: inline-block
    position: relative
    top: -3em

    &List
      display: inline-block
      list-style: none
    &Item
      display: inline-block
      padding: 0.5em 1em
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2)
      font-family: $font
      font-size: 1em
      color: #fff
      font-weight: normal
      cursor: pointer
      & a
        color: #fff

      &.closed
        display: none
      &.active,
      &:hover
        background-color: $dark-bg
        border-top-left-radius: 3px
        border-top-right-radius: 3px
        box-shadow: 1.5px 2.6px 5px rgba(0, 0, 0, 0.2)

  &__support
    display: none
    &.open
      display: block
    text-indent: 1.5em
    position: absolute
    bottom: 4.2em
    right: 0
    padding: 0.5em 1em
    border-radius: 3px
    border: none
    background-color: #fff
    background-image: linear-gradient(to top, rgba(215, 215, 215, 0.24) 0%, rgba(255, 255, 255, 0.24) 100%), url("img/header/support.png")
    background-repeat: no-repeat, no-repeat
    background-position: left top, 7% center
    color: $dark-bg
    font-weight: bolder
    cursor: pointer

  &__infoLine
    position: relative
    top: 1em
    height: 3em
    &.open
      background-color: #3eb8ff
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15), 0 -1px 5px rgba(0, 0, 0, 0.05)

.profileInfo
  &.closed
    display: none
  &.open
    display: flex

  height: 3em
  display: none
  flex-direction: row-reverse
  align-items: center
  &__logOut
    padding: 0.5em 1em
    margin-left: 0.5em
    background-color: white
    border: none
    background-image: linear-gradient(to top, rgba(215, 215, 215, 0.24) 0%, rgba(255, 255, 255, 0.24) 100%)
    border-radius: 3px
    font-weight: bolder
    color: $dark-bg
    cursor: pointer
  &__country
    @extend .loginBox__country
  &__deposit
    padding: 0.5em 1.5em
    background-color: #ff00f0
    border: 2px solid #1f82bc
    border-radius: 5px
    box-shadow: 2.5px 4.3px 5px rgba(0, 91, 175, 0.6), 0 4.3px 5px rgba(255, 255, 255, 0.6) inset, 0 -2.3px 5px rgba(255, 255, 255, 0.6)
    font-weight: bold
    color: #fff
    margin-right: 1em
    cursor: pointer
  &__item
    display: flex
    align-items: center
    flex-basis: 6em
    height: 2rem
    margin-right: 1rem
    font-size: 0.7em
    line-height: 1.5
    color: #fff
    &Text
      margin-right: 0.5em
    &Info
      padding: 0.5em 1.5em
      background-color: #1971a1
      border-radius: 5px
      box-shadow: 0 1px 0 rgba(255, 255, 255, 0.35)
      color: #00fffb
      &[data-type="balance"]
        text-indent: 1.5em
        background-image: url("img/header/evro.png")
        background-repeat: no-repeat
        background-position: 4% center

%loginBox__item
  box-sizing: content-box
  height: 2em
  margin-right: 0.5em
  background-color: $dark-bg
  border-radius: 3px
  border: none
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.35),
              inset 0 1px 2px rgba(0, 91, 175, 0.6)
  vertical-align: middle

.loginBox
  text-align: right

  &__form
    margin-bottom: 0.5em

  &__country
    @extend %loginBox__item
    display: inline-block
    box-sizing: border-box
    width: 3em
    padding: 0
    border: 5px solid $dark-bg
    background-image: url("img/header/ua.png"), url("img/header/lang_arrow.png")
    background-repeat: no-repeat, no-repeat
    background-origin: padding-box, padding-box
    background-position: left center, right center
    cursor: pointer

  &__username
    @extend %loginBox__item
    width: 10em
    text-indent: 0.5em
    color: #fff
    &::placeholder
      color: #fff

  &__password
    @extend .loginBox__username

  &__submit
    @extend %loginBox__item
    padding: 0 1em
    background-color: white
    background-image: linear-gradient(to top, rgba(215, 215, 215, 0.24) 0%, rgba(255, 255, 255, 0.24) 100%)
    border-radius: 3px
    color: $dark-bg
    cursor: pointer

  &__forgot
    font-size: 0.8em
    vertical-align: top
    margin-right: 1.6em
    color: #9cd2f3
    &:hover
      text-decoration: underline

  &__register
    box-sizing: border-box
    width: 15.3em
    height: 2em
    margin-right: 0.4em
    background-color: white
    border: 2px solid #1f82bc
    border-top-color: #fff
    border-radius: 5px
    box-shadow: 1.5px 2.3px 4px rgba(0, 91, 175, 0.6)
    font-weight: bolder
    color: #44a437
    text-transform: uppercase
    cursor: pointer
