.overlay
.popupDeposit
	.popupDeposit__title Your Deposit
	img.popupDeposit__close(src="img/profile/close.png" alt="")
	form.popupDeposit__form
		.popupDeposit__item
			label.popupDeposit__label Name:
			input.popupDeposit__input
		.popupDeposit__item
			label.popupDeposit__label Card number:
			input.popupDeposit__input
		.popupDeposit__item
			label.popupDeposit__label.iconed Total:
			input.popupDeposit__input
		.popupDeposit__item.little
			label.popupDeposit__label CVV:
			.popupDeposit__flexbox
				input.popupDeposit__input
				input.popupDeposit__submit(type="submit" value="Replenish")
