<footer class="footer">
  <div class="footer__divider"></div>
  <nav class="footer__nav">
    <div class="footer__container">
      <ul class="footer__navList">
        <li class="footer__navItem">Licence</li>
        <li class="footer__navItem">Terms and conditions</li>
        <li class="footer__navItem">Mobile</li>
        <li class="footer__navItem">FAQ</li>
        <li class="footer__navItem">Responsible Gaming</li>
        <li class="footer__navItem">Partners</li>
      </ul>
    </div>
  </nav>
  <div class="footer__container">
    <section class="footer__payments">
      <img class="footer__paymentsItem" src="img/header/payments-1.png" alt="Payments" />
      <img class="footer__paymentsItem" src="img/header/payments-2.png" alt="Payments" />
      <p class="footer__paymentsText">
        The website is operated and managed by MYEG B.V. (Emancipate Boulevard 29, Willemstad, Curacao). <br>
        Licence No. 5536/JAZ. OceanCasino.com &copy; 2016
      </p>
    </section>
    <section class="footer__socials">
      <div class="footer__socialsRow">
        <div class="footer__socialsItem">Fair<br>Licensed</div>
        <div class="footer__socialsItem">100% Secure</div>
        <div class="footer__socialsItem"></div>
      </div>
      <div class="footer__socialsRow">
        <p class="footer__socialsText">
          Follow us on social networks
        </p>
        <img src="img/header/socials-4.png" alt="Socials" />
      </div>
    </section>
  </div>
</footer>
