<section class="favourite">
  <div class="favourite__container">
    <div class="favourite__title">Your latest <br> played games:</div>
    <div class="favourite__item" data-star="yes">
      <img class="favourite__itemIMG" src="img/games/favourite-1.png" alt="Favourite">
      <p class="favourite__itemText">The&nbsp;Queen<span>Another&nbsp;Game</span></p>
    </div>
    <div class="favourite__item" data-star="yes">
      <img class="favourite__itemIMG" src="img/games/favourite-2.png" alt="Favourite">
      <p class="favourite__itemText">Steam&nbsp;Tower<span>Netent</span></p>
    </div>
    <div class="favourite__item" data-star="no">
      <img class="favourite__itemIMG" src="img/games/favourite-3.png" alt="Favourite">
      <p class="favourite__itemText">Dark&nbsp;Knight<span>QuickFire</span></p>
    </div>
    <div class="favourite__item" data-star="yes">
      <img class="favourite__itemIMG" src="img/games/favourite-4.png" alt="Favourite">
      <p class="favourite__itemText">Calipso<span>Another&nbsp;Game</span></p>
    </div>
  </div>
</section>
<section class="allGames">
	<div class="allGames__container">
		<form action="#" class="allGames__form">
			<select name="games" class="allGames__select">
				<option value="1">All Games</option>
				<option value="2">VideoSlots</option>
				<option value="3">VideoPoker</option>
			</select>
			<input type="search" class="allGames__search" name="search" placeholder="Search game:">
		</form>
		<p class="allGames__title">Select creator: </p>
		<img src="img/games/all-games.png" alt="Creators" class="allGames__img">
	</div>
</section>
<section class="games">
	<div class="games__container">
		<div class="games__path">Home page > Casino games</div>
		<div class="games__row">
			<div class="games__header">New Games <em><a href="#">View All</a></em></div>
			<div class="games__item" data-type="hot">
				<img src="img/games/game-1.png" alt="" class="games__img">
				<p class="games__descr">The Queen<em>Video Slot</em></p>
				<div class="games__hover">
					<button class="games__win">play to win</button>
					<button class="games__fun">play for fun</button>
				</div>
			</div>
			<div class="games__item">
				<img src="img/games/game-2.png" alt="" class="games__img">
				<p class="games__descr" data-type="star">The Queen<em>Video Slot</em></p>
				<div class="games__hover">
					<button class="games__win">play to win</button>
					<button class="games__fun">play for fun</button>
				</div>
			</div>
			<div class="games__item">
				<img src="img/games/game-3.png" alt="" class="games__img">
				<p class="games__descr" data-type="star">Steam Tower<em>Video Slot</em></p>
				<div class="games__hover">
					<button class="games__win">play to win</button>
					<button class="games__fun">play for fun</button>
				</div>
			</div>
			<div class="games__item" data-type="new">
				<img src="img/games/game-4.png" alt="" class="games__img">
				<p class="games__descr" data-type="star">The Dark Knight<em>Video Slot</em></p>
				<div class="games__hover">
					<button class="games__win">play to win</button>
					<button class="games__fun">play for fun</button>
				</div>
			</div>
			<div class="games__item">
				<img src="img/games/game-5.png" alt="" class="games__img">
				<p class="games__descr" data-type="star">Gold Sea<em>Video Slot</em></p>
				<div class="games__hover">
					<button class="games__win">play to win</button>
					<button class="games__fun">play for fun</button>
				</div>
			</div>
		</div>
		<div class="games__row">
			<div class="games__header">Popular Games<em><a href="#">View All</a></em></div>
			<div class="games__item">
				<img src="img/games/game-6.png" alt="" class="games__img">
				<p class="games__descr">Ghost Pirates<em>Video Slot</em></p>
				<div class="games__hover">
					<button class="games__win">play to win</button>
					<button class="games__fun">play for fun</button>
				</div>
			</div>
			<div class="games__item" data-type="new">
				<img src="img/games/game-7.png" alt="" class="games__img">
				<p class="games__descr" data-type="star">Gold Sea<em>Video Slot</em></p>
				<div class="games__hover">
					<button class="games__win">play to win</button>
					<button class="games__fun">play for fun</button>
				</div>
			</div>
			<div class="games__item">
				<img src="img/games/game-8.png" alt="" class="games__img">
				<p class="games__descr">Calipso<em>Video Slot</em></p>
				<div class="games__hover">
					<button class="games__win">play to win</button>
					<button class="games__fun">play for fun</button>
				</div>
			</div>
			<div class="games__item">
				<img src="img/games/game-9.png" alt="" class="games__img">
				<p class="games__descr" data-type="star">Steam Tower<em>Video Slot</em></p>
				<div class="games__hover">
					<button class="games__win">play to win</button>
					<button class="games__fun">play for fun</button>
				</div>
			</div>
			<div class="games__item" data-type="hot">
				<img src="img/games/game-10.png" alt="" class="games__img">
				<p class="games__descr" data-type="star">The Dark Knight<em>Video Slot</em></p>
				<div class="games__hover">
					<button class="games__win">play to win</button>
					<button class="games__fun">play for fun</button>
				</div>
			</div>
		</div>
		<div class="games__row">
			<div class="games__header">Video Slots<em><a href="#">View All</a></em></div>
			<div class="games__item">
				<img src="img/games/game-11.png" alt="" class="games__img">
				<p class="games__descr">Ghost Pirates<em>Video Slot</em></p>
				<div class="games__hover">
					<button class="games__win">play to win</button>
					<button class="games__fun">play for fun</button>
				</div>
			</div>
			<div class="games__item">
				<img src="img/games/game-12.png" alt="" class="games__img">
				<p class="games__descr" data-type="star">Gold Sea<em>Video Slot</em></p>
				<div class="games__hover">
					<button class="games__win">play to win</button>
					<button class="games__fun">play for fun</button>
				</div>
			</div>
			<div class="games__item">
				<img src="img/games/game-13.png" alt="" class="games__img">
				<p class="games__descr" data-type="star">Calipso<em>Video Slot</em></p>
				<div class="games__hover">
					<button class="games__win">play to win</button>
					<button class="games__fun">play for fun</button>
				</div>
			</div>
			<div class="games__item">
				<img src="img/games/game-14.png" alt="" class="games__img">
				<p class="games__descr" data-type="star">Steam Tower<em>Video Slot</em></p>
				<div class="games__hover">
					<button class="games__win">play to win</button>
					<button class="games__fun">play for fun</button>
				</div>
			</div>
			<div class="games__item">
				<img src="img/games/game-15.png" alt="" class="games__img">
				<p class="games__descr" data-type="star">The Dark Knight<em>Video Slot</em></p>
				<div class="games__hover">
					<button class="games__win">play to win</button>
					<button class="games__fun">play for fun</button>
				</div>
			</div>
		</div>
		<button class="games__more">View more</button>
	</div>
</section>
<button class="liveChat">LIVE&nbsp;CHAT&nbsp;&nbsp;&#8657;</button>
<button class="up">UP</button>
