<header class="header">
  <div class="header__lowerLayer">
    <div class="header__infoLine">

      <div class="header__container">

        <section class="loginBox">
          <form action="#" class="loginBox__form">
            <div class="loginBox__country"></div>
            <input type="text" class="loginBox__username" placeholder="Username:" required>
            <input type="password" class="loginBox__password" placeholder="Password:" required>
            <input type="submit" class="loginBox__submit" value="Login">
          </form>
          <a href="#" class="loginBox__forgot">Forgot Password?</a>
          <button class="loginBox__register">Register now!</button>
        </section>

      </div>

      <div class="header__container">
        <div class="profileInfo">
          <button class="profileInfo__logOut">Logout</button>
          <div class="profileInfo__country"></div>
          <button class="profileInfo__deposit">DEPOSIT</button>
          <div class="profileInfo__item">
            <p class="profileInfo__itemText">Active&nbsp;codes: </p>
            <div class="profileInfo__itemInfo">123.243,00</div>
          </div>
          <div class="profileInfo__item">
            <p class="profileInfo__itemText">Balance: </p>
            <div class="profileInfo__itemInfo" data-type="balance">123.243,00</div>
          </div>
          <div class="profileInfo__item">
            <p class="profileInfo__itemText">Welcome, </p>
            <div class="profileInfo__itemInfo">Jamomoto149</div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="header__higherLayer">

    <div class="header__container">

      <div class="header__logo">
        <img src="img/header/logo.png" alt="Logo Ocean Casino">
      </div>

      <nav class="header__nav">
        <ul class="header__navList">
          <li class="header__navItem active"><a href="/">Home</a></li>
          <li class="header__navItem closed" data-type="profile"><a href="profile.html">My account</a></li>
          <li class="header__navItem"><a href="games.html">Games</a></li>
          <li class="header__navItem">Promotions</li>
          <li class="header__navItem">VIP</li>
          <li class="header__navItem">Banking</li>
          <li class="header__navItem">About Us</li>
        </ul>
      </nav>

      <button class="header__support">Support 24/7</button>

    </div>

  </div>
</header>
