<header class="header">
  <div class="header__lowerLayer">
    <div class="header__infoLine">

      <div class="header__container">

        <section class="loginBox">
          <form action="#" class="loginBox__form">
            <div class="loginBox__country"></div>
            <input type="text" class="loginBox__username" placeholder="Username:">
            <input type="password" class="loginBox__password" placeholder="Password:">
            <input type="submit" class="loginBox__submit" value="Login">
          </form>
          <a href="#" class="loginBox__forgot">Forgot Password?</a>
          <button class="loginBox__register">Register now!</button>
        </section>

      </div>

    </div>
  </div>
  <div class="header__higherLayer">

    <div class="header__container">

      <div class="header__logo">
        <img src="img/header/logo.png" alt="Logo Ocean Casino">
      </div>

      <nav class="header__nav">
        <ul class="header__navList">
          <li class="header__navItem active">Home</li>
          <li class="header__navItem">Games</li>
          <li class="header__navItem">Promotions</li>
          <li class="header__navItem">VIP</li>
          <li class="header__navItem">Banking</li>
          <li class="header__navItem">About Us</li>
        </ul>
      </nav>

    </div>

  </div>
</header>

<section class="slider">
  <div class="slider__item">
    <img src="img/header/slider.png" alt="Entry Bonus">
  </div>
</section>

<section class="jackpot">
  <div class="jackpot__caption"></div>
  <div class="jackpot__item"></div>
  <div class="jackpot__item"></div>
  <div class="jackpot__item"></div>
  <div class="jackpot__item"></div>
  <div class="jackpot__item"></div>
</section>

<section class="banners">
  <div class="banners__item"></div>
  <div class="banners__item"></div>
  <div class="banners__item"></div>
</section>
