<header class="header">
  <div class="header__lowerLayer">
    <div class="header__infoLine">

      <div class="header__container">

        <section class="loginBox">
          <form action="#" class="loginBox__form">
            <div class="loginBox__country"></div>
            <input type="text" class="loginBox__username" placeholder="Username:">
            <input type="password" class="loginBox__password" placeholder="Password:">
            <input type="submit" class="loginBox__submit" value="Login">
          </form>
          <a href="#" class="loginBox__forgot">Forgot Password?</a>
          <button class="loginBox__register">Register now!</button>
        </section>

      </div>

    </div>
  </div>
  <div class="header__higherLayer">

    <div class="header__container">

      <div class="header__logo">
        <img src="img/header/logo.png" alt="Logo Ocean Casino">
      </div>

      <nav class="header__nav">
        <ul class="header__navList">
          <li class="header__navItem active">Home</li>
          <li class="header__navItem">Games</li>
          <li class="header__navItem">Promotions</li>
          <li class="header__navItem">VIP</li>
          <li class="header__navItem">Banking</li>
          <li class="header__navItem">About Us</li>
        </ul>
      </nav>

    </div>

  </div>
</header>

<section class="slider">
  <div class="slider__item">
    <img src="img/header/slider.png" alt="Entry Bonus">
  </div>
</section>

<section class="jackpot">
  <div class="jackpot__container">
    <div class="jackpot__item">Jackpots: </div>
    <div class="jackpot__item">
      <img src="img/header/jackpot-1.png" alt="Jackpot">
      <p class="jackpot__text">€&nbsp;5,228,81<span>4&nbsp;of&nbsp;King</span></p>
    </div>
    <div class="jackpot__item">
      <img src="img/header/jackpot-2.png" alt="Jackpot">
      <p class="jackpot__text">€&nbsp;5,100,12<span>Steam&nbsp;Tower</span></p>
    </div>
    <div class="jackpot__item">
      <img src="img/header/jackpot-3.png" alt="Jackpot">
      <p class="jackpot__text">€&nbsp;10,100,12<span>The&nbsp;Dark&nbsp;Knight</span></p>
    </div>
    <div class="jackpot__item">
      <img src="img/header/jackpot-4.png" alt="Jackpot">
      <p class="jackpot__text">€&nbsp;7,999,34<span>Ghost&nbsp;Pirates</span></p>
    </div>
    <div class="jackpot__item">
      <img src="img/header/jackpot-5.png" alt="Jackpot">
      <p class="jackpot__text">€&nbsp;5,999,34<span>The&nbsp;Dark&nbsp;Knight</span></p>
    </div>
  </div>
</section>

<section class="banners">
  <div class="banners__item">
    <img src="img/header/banner-1.png" alt="Banner">
  </div>
  <div class="banners__item">
    <img src="img/header/banner-2.png" alt="Banner">
  </div>
  <div class="banners__item">
    <img src="img/header/banner-3.png" alt="Banner">
  </div>
</section>

<footer class="footer">
  <div class="footer__divider"></div>
  <nav class="footer__nav">
    <div class="footer__container">
      <ul class="footer__navList">
        <li class="footer__navItem">Licence</li>
        <li class="footer__navItem">Terms and conditions</li>
        <li class="footer__navItem">Mobile</li>
        <li class="footer__navItem">FAQ</li>
        <li class="footer__navItem">Responsible Gaming</li>
        <li class="footer__navItem">Partners</li>
      </ul>
    </div>
  </nav>
</footer>
