<section class="slider">
  <div class="slider__item"></div>
  <div class="slider__item"></div>
  <div class="slider__item"></div>
  <div class="slider__item"></div>
  <div class="slider__item"></div>
</section>

<section class="jackpot">
  <div class="jackpot__container">
    <div class="jackpot__item">Jackpots: </div>
    <div class="jackpot__item">
      <img src="img/header/jackpot-1.png" alt="Jackpot">
      <p class="jackpot__text">€&nbsp;5,228,81<span>4&nbsp;of&nbsp;King</span></p>
    </div>
    <div class="jackpot__item">
      <img src="img/header/jackpot-2.png" alt="Jackpot">
      <p class="jackpot__text">€&nbsp;5,100,12<span>Steam&nbsp;Tower</span></p>
    </div>
    <div class="jackpot__item">
      <img src="img/header/jackpot-3.png" alt="Jackpot">
      <p class="jackpot__text">€&nbsp;10,100,12<span>The&nbsp;Dark&nbsp;Knight</span></p>
    </div>
    <div class="jackpot__item">
      <img src="img/header/jackpot-4.png" alt="Jackpot">
      <p class="jackpot__text">€&nbsp;7,999,34<span>Ghost&nbsp;Pirates</span></p>
    </div>
    <div class="jackpot__item">
      <img src="img/header/jackpot-5.png" alt="Jackpot">
      <p class="jackpot__text">€&nbsp;5,999,34<span>The&nbsp;Dark&nbsp;Knight</span></p>
    </div>
  </div>
</section>

<section class="banners">
  <div class="banners__item">
    <img src="img/header/banner-1.png" alt="Banner">
  </div>
  <div class="banners__item">
    <img src="img/header/banner-2.png" alt="Banner">
  </div>
  <div class="banners__item">
    <img src="img/header/banner-3.png" alt="Banner">
  </div>
</section>

<button class="liveChat">LIVE&nbsp;CHAT&nbsp;&nbsp;&#8657;</button>
