<section class="profile">
	<div class="profile__panel">
		<div class="profile__panelContainer">
			<form action="#" class="profile__form">
				<label>Select profile menu: </label>
				<select class="profile__select">
					<option value="1">My profile info</option>
					<option value="2">My profile cash</option>
					<option value="3">Another profile menu</option>
				</select>
				<label class="profile__status">Your status: <input type="text" value="Bronze" disabled></label>
			</form>
			<div class="profile__buttons">
				<button>Make a Deposit</button>
				<button>Withdraw money</button>
				<button>Purchase code</button>
			</div>
		</div>
	</div>
	<section class="profile__content">
		<div class="profile__container">
			<p class="profile__path">
				Home page > My profile
			</p>
			<h2 class="profile__title">Profile</h2>

			<form action="#" class="profile__contentForm">
				<div class="profile__row">
					<div class="profile__item">
						<label class="profile__label">Nickname: </label>
						<input type="text" class="profile__input" value="Jamomoto149">
					</div>
					<div class="profile__item">
						<label class="profile__label">Your ID: </label>
						<input type="text" class="profile__input" value="215648543187">
					</div>
					<div class="profile__item">
						<label class="profile__label">Treatment: </label>
						<input type="text" class="profile__input">
					</div>
					<div class="profile__item">
						<label class="profile__label">Name: </label>
						<input type="text" class="profile__input" value="Ivan">
					</div>
					<div class="profile__item">
						<label class="profile__label">Surname: </label>
						<input type="text" class="profile__input" value="Pupkin">
					</div>
				</div>
				<div class="profile__row">
					<div class="profile__item">
						<label class="profile__label">Birthday: </label>
						<input type="text" class="profile__littleInput">
						<input type="text" class="profile__littleInput">
						<input type="text" class="profile__littleInput">
					</div>
					<div class="profile__item">
						<label class="profile__label">E-mail: </label>
						<input type="text" class="profile__input" value="215648543187">
					</div>
					<div class="profile__item">
						<label class="profile__label">Phone: </label>
						<input type="text" class="profile__input">
					</div>
					<div class="profile__item">
						<label class="profile__label">Country: </label>
						<input type="text" class="profile__input" value="Ivan">
					</div>
					<div class="profile__item">
						<label class="profile__label">City: </label>
						<input type="text" class="profile__input" value="Pupkin">
					</div>
				</div>
				<div class="profile__row">
					<div class="profile__item">
						<label class="profile__label">Adrress: </label>
						<input type="text" class="profile__input" value="Jamomoto149">
					</div>
					<div class="profile__item">
						<label class="profile__label">Adrress2: </label>
						<input type="text" class="profile__input" value="215648543187">
					</div>
					<div class="profile__item">
						<label class="profile__label">Post index: </label>
						<input type="text" class="profile__input">
					</div>
					<div class="profile__item">
						<label class="profile__label">Currency: </label>
						<input type="text" class="profile__input" value="Ivan">
					</div>
					<div class="profile__submit">
						<input type="submit" name="submit" value="Refresh">
					</div>
				</div>
			</form>
			<div class="profile__checks">
				<div class="profile__checkItem">
					<label><input type="checkbox" checked><span></span>I wish to receive news and offers by email.</label>
				</div>
				<div class="profile__checkItem">
					<label><input type="checkbox" checked><span></span>I wish to receive news and offers SMS.</label>
				</div>
			</div>
		</div>
	</section>
</section>

<button class="liveChat">LIVE&nbsp;CHAT&nbsp;&nbsp;&#8657;</button>
<button class="up">UP</button>
