.affilate
	.affilate__slider
		.slider__wrap__text
			h2.slider__header WHAT IF THERE WAS AN AFFILIATE PROGRAM WITH
			.slider__text
				.slider__text__item
					img.item__img(src="img/games/star1.png" alt="")
					span.item__text no negative carryover
				.slider__text__item
						img.item__img(src="img/games/star2.png" alt="")
						span.item__text customer centric campaign
				.slider__text__item
					img.item__img(src="img/games/star1.png" alt="")
					span.item__text real-time data
				.slider__text__item
					img.item__img(src="img/games/star2.png" alt="")
					span.item__text fully licensed casino
			a.reg_button(href="#") REGISTER NOW!
			.signin__wrap
				p.signin or 
				a.signin__link(href="#") sign in
				p.signin to your account
	.affilate__bages
		.container
			h2.affilate__header.why WHY US?
			.bages__text__wrap
				.bages__text__item
					img.item__img(src="img/games/icon5.png" alt="")
					span.item__content 
						p.inner__header  The best commission 
						p.inner__text We offer up to 50% from our income! Learn more on how to earn with us.
				.bages__text__item
					img.item__img(src="img/games/icon2.png" alt="")
					span.item__content 
						p.inner__header  Licensed software providers 
						p.inner__text We offer the best games from world leading game providers such as NetEnt, Microgaming, Oryx, 1X2, Ezugi and many more which are available in desktop and mobile version.
				.bages__text__item
					img.item__img(src="img/games/icon4.png" alt="")
					span.item__content 
						p.inner__header  Advertisment 
						p.inner__text We are constantly updating means of advertisement. You can choose from a huge variety of banner advertisements and also different means of advertisement.
				.bages__text__item
					img.item__img(src="img/games/icon1.png" alt="")
					span.item__content 
						p.inner__header  24/7 multilingual support 
						p.inner__text Multilingual support by phone, email and chat is available 24/7. We do our best to satisfy all requests from our clients.
				.bages__text__item
					img.item__img(src="img/games/icon3.png" alt="")
					span.item__content 
						p.inner__header  Monthly payouts 
						p.inner__text The commission is payed up to 15th each month.
	.container
		h2.affilate__header COMMISSION
		table.affilate__table
			thead
				tr
					th euro
					th persentage
					th number of players
					th additional persentage
			tbody
				tr
					td 0 - 10000
					td 25%
					td from 5 - 10%
					td 0.5%
				tr
					td 10001 - 20000
					td 30%
					td 11 - 20
					td 1%
				tr
					td 20001 - 30000
					td 35%
					td 21 - 30
					td 2%
				tr
					td 30001 - 40000
					td 40%
					td 31 - 40
					td 3%
				tr
					td 40000+
					td Individual
					td 41 - 50
					td Individual
				tr
					td 100000+
					td Individual
					td 51+
					td Individual
		h2.affilate__header FREQUENTLY ASKED QUESTIONS
		p.questions__header What is an affiliate program?
		p.questions__text
			a.questions__link(href="https://www.bosscasino.eu/") www.bosscasino.eu 
			| Affiliate program allows partners who invited customers to our site, receive a monthly commission. BOSS Casino earns in the sale of services and products for the entertainment: a sports bookmaking, poker, casino online sites. With an affiliate program, we then share the revenue earned on the losing players online 
			a.questions__link(href="https://www.bosscasino.eu/") www.bosscasino.eu
		p.questions__header Benefits in the affiliate program registration
		p.questions__text Why not start making money on the rate of traffic in partnership with BOSS Casino? It's free. You get a high proportion of the profit for the given customer. As well as the opportunity to enjoy a variety of the company's products.
		p.questions__header Who can register for the affiliate program?
		p.questions__text Any person / webmaster who has a website can join the program on the condition that the general rules and conditions for BOSS Casino partners.
		p.questions__header How do I register?
		p.questions__text Sign up for an affiliate program can be on the following link 
			a.questions__link(href="https://www.affiliates.bosscasino.eu/") www.affiliates.bosscasino.eu. 
			| You will need to fill in the information about you / your company and website. We consider your registration application. Once we approve it, you can start earning good money!
		p.questions__header Can I register several websites in an affiliate program?
		p.questions__text Of course, you can manage multiple sites, without restrictions on the number, under one account partner account.
		p.questions__header When do you pay the Commission?
		p.questions__text BOSS Casino pays all Commissions before the 15th of each month. The minimum amount for payment is €50. If the amount is less, it is transferred to the next month.
		p.questions__header How does the commission paid?
		p.questions__text BOSS Casino pays commission convenient for you method.
		p.questions__header Where can I see my monthly income?
		p.questions__text See page reports in your affiliate account BOSS Casino. There are all the reports and statistics.
		p.questions__header My affiliate account shows negative earnings, now what?
		p.questions__text Your affiliate account might show negative earnings. But you need not worry. Wait until your account will be released in a positive balance.
		p.questions__header Help is needed?
		p.questions__text If you have any questions or need assistance, please contact us via the contact form or email us at: 
			a.questions__link(href="mailto:affiliates@bosscasino.eu") affiliates@bosscasino.eu 
			| Your feedback will help us improve and develop BOSS Casino further.
		h2.affilate__header CONTACT US
		form.contact__form(action='#', autocomplete='on')
			.form__left
				.form__item
					label.contact__label First name:
					input.contact__input(type='text', name='name')
				.form__item
					label.contact__label Last name: 
					input.contact__input(type='text', name='lastname')
				.form__item
					label.contact__label Email:
					input.contact__input(type='email', name='email')
			.form__right
				.form__item2
					label.contact__label Message:
					textarea.contact__textarea(rows="4", cols="50", name='message')
				input.contact__submit(type='submit', value='Contact Us')
		a.reg_button(href="#") REGISTER NOW!
