.live-chat{
	position: fixed;
	top: calc(50% - 1em);
	left: calc(100% - 5.2em);
	z-index: 10;
	background-color: $live-chat-green;
	border-radius: 3px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border: none;
	box-shadow: -3px 0 5px rgba(0, 0, 0, 0.15);
	color: #fff;
	text-transform: uppercase;
	padding: 0.5em 1em;
	cursor: pointer;
	transform: rotate(0.75turn);
	transition: all 0.3s;
	&:hover {
		left: calc(100% - 5.25em);
		background-color: darken($live-chat-green, 3%);
	}
}
