.live-casino {
	&__aside {
		display: block;
		position: fixed;
		top: 20%;
		left: calc(50% - 500px - 200px - 5px);
		width: 200px;
	}
	&__title {
		@extend %pageHeader;
	}
	&__row {
		display: flex;
		justify-content: space-between;
		padding-bottom: 2em;
	}
	&__item {
		position: relative;
		margin-bottom: 0.5em;
		&:not(:last-child) {
			margin-right: 0.5em;
		}
		&[data-type="new"]:after {
			content: "";
			position: absolute;
			z-index: 10;
			top: -7px;
			right: -8px;
			display: block;
			width: 40px;
			height: 40px;
			background-image: url("img/games/new.png");
			background-repeat: no-repeat;
		}
		&[data-type="hot"]:after {
			content: "";
			position: absolute;
			z-index: 10;
			top: -7px;
			right: -8px;
			display: block;
			width: 40px;
			height: 40px;
			background-image: url("img/games/hot.png");
			background-repeat: no-repeat;
		}
	}
	&__figure {
		position: relative;
		border-radius: 3px;
		cursor: pointer;
		&:hover {
			& .live-casino__hover {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}
		}
	}
	&__img {
		vertical-align: bottom;
	}
	&__hover {
		display: none;
		position: absolute;
		text-align: center;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background-color: rgba($bg-light-blue, 0.5);
		border-radius: 3px;
	}
	&__win {
		background-color: $deposit-button-fuksia;
		border-radius: 3px;
		box-shadow: 0 3px 3px rgba(0, 0, 0, 0.45);
		text-transform: uppercase;
		color: white;
		border: none;
		border-top: 2px solid rgba(255, 255, 255, 0.7);
		width: 75%;
		margin-bottom: 0.5em;
		font-family: "Open Sans";
		font-size: 1.1em;
		font-weight: 300;
		line-height: 1.4;
		cursor: pointer;
	}
	&__descr {
		padding-top: 0.5em;
		padding-left: 2em;
		font-weight: 400;
		color: #4fbaff;
		font-size: 17px;
		cursor: pointer;
		background-position: 4% center;
		background-repeat: no-repeat;
		background-image: url("img/lottery/lottery-star-off.png");
		& em {
			display: block;
			padding-top: 0.4em;
			font-style: normal;
			color: #01f7f6;
			font-size: 12px;
		}
		& span {
			color: #eee;
			margin-right: 0.5em;
		}
		&[data-type="star"] {
			background-image: url("img/lottery/lottery-star.png");
		}
	}
	&__buttons {
		display: flex;
		justify-content: space-between;
		margin-bottom: 2em;
	}
	&__button {
		position: relative;
		width: 140px;
		height: 40px;
		line-height: 37px;
		text-align: center;
		font-size: 0.9em;
		color: #fff;
		font-weight: 300;
		background-color: #0d3750;
		border: 1px solid rgba(0, 8, 13, 0.13);
		border-radius: 3px;
		cursor: pointer;
		padding-right: 1em;
		transition: all 0.3s;
		&.active {
			background-color: #3faae8;
			box-shadow: 2.5px 4.3px 3px rgba(0, 0, 0, 0.19);
			&:hover {
				background-color: #3faae8;
				color: #fff;
			}
			&::after {
				background-color: $text_dark_blue;
			}
		}
		&:hover {
			box-shadow: 2.5px 4.3px 3px rgba(0, 0, 0, 0.19);
			background-color: rgba(#0d3750, 0.8);
			color: #ddd;
		}
		&::before {
			content: "";
			position: absolute;
			display: block;
			width: 65px;
			height: 65px;
			background-repeat: no-repeat;
		}
		&:nth-child(1)::before {
			top: -7px;
			left: -25px;
			background-image: url("img/live-casino/live-casino-1.png");
		}
		&:nth-child(2)::before {
			top: -7px;
			left: -20px;
			background-image: url("img/live-casino/live-casino-2.png");
		}
		&:nth-child(3)::before {
			top: -15px;
			left: -12px;
			background-image: url("img/live-casino/live-casino-3.png");
		}
		&:nth-child(4)::before {
			top: -7px;
			left: -20px;
			background-image: url("img/live-casino/live-casino-4.png");
		}
		&:nth-child(5)::before {
			top: -10px;
			left: -10px;
			background-image: url("img/live-casino/live-casino-5.png");
		}
		&:nth-child(6)::before {
			top: -10px;
			left: -20px;
			background-image: url("img/live-casino/live-casino-6.png");
		}
		&::after {
			content: "58";
			position: absolute;
			top: 7px;
			right: 5px;
			width: 35px;
			height: 25px;
			line-height: 23px;
			font-size: 0.9em;
			color: $text-light-blue;
			border-radius: 3px;
			background-color: #10222c;

		}
	}
}
@media screen and (max-width: 1400px) {
	.live-casino__aside {
		display: none;
	}
}
