.faqPanel
	form.faqPanel__form(action='#')
		p.faqPanel__descr Select theme: 
		select.faqPanel__select(name='faq')
			option(value='1' data-type="gamesAll") Account
			option(value='2' data-type="gamesNew") Games
			option(value='3' data-type="gamesPopular") Banking
