$font: "Open Sans";
$logo-height: 45px;
$logo-width: 175px;
$bg-light-blue: #3faae8;
$text-dark-blue: #1971a1;
$text-blue: #50bbff;
$copy-text-color: #457391;
$text-light-blue: #00fffb;
$table-text: #abe0ff;
$table-bg: #0e5278;
$table-bg-dark: #0d2b3b;
$input-bg-dark: #10222c;
$live-chat-green: #02cdab;
$text-green: #2daa2d;
$submit-green: #008d75;
$affilate-button-green: #003b42;
$deposit-button-fuksia: #ff00f0;
