.faq
	h2.faq__title Support
	p.faq__text Looking for help? No Problem! We are always happy to help you with any questions relating to the gaming in the BOSS Casino! Here are the answers to the most frequently asked questions from players. In case the information below does not provide you with the information of your interest, and you feel that you need additional assistance, please contact our 24/7 online chat support service.
	ul.faq__list
		li.faq__item
			.faq__question Why should I register?
			.faq__answer
				p.faq__name Why should I register?
				p.faq__descr Of course. For introduction purposes, you can play any game for free. Simply press the “Demo” on the icon of the game.
		li.faq__item
			.faq__question Why should I register?
			.faq__answer
				p.faq__name Why should I register?
				p.faq__descr Of course. For introduction purposes, you can play any game for free. Simply press the “Demo” on the icon of the game.
		li.faq__item
			.faq__question Why should I register?
			.faq__answer
				p.faq__name Why should I register?
				p.faq__descr Of course. For introduction purposes, you can play any game for free. Simply press the “Demo” on the icon of the game.
		li.faq__item
			.faq__question Why should I register?
			.faq__answer
				p.faq__name Why should I register?
				p.faq__descr Of course. For introduction purposes, you can play any game for free. Simply press the “Demo” on the icon of the game.
		li.faq__item
			.faq__question Why should I register?
			.faq__answer
				p.faq__name Why should I register?
				p.faq__descr Of course. For introduction purposes, you can play any game for free. Simply press the “Demo” on the icon of the game.
