//- include ../blocks/footer/socials/socials.jade
.socials
	.socials__row
		.socials__item
			| Fair
			br
			| Licensed
		.socials__item
			| 100%
			br
			| Secure
		.socials__item
	.socials__row
		p.socials__text
			| Follow us on:
		img.socials__img(src='img/header/socials-4.png', alt='Socials')
