mixin affilate-nav(className)
	div(class="affilate-nav " + className)
		ul.affilate-nav__list
			li.affilate-nav__item: a.affilate-nav__link(href="#main") Main Page
			li.affilate-nav__item: a.affilate-nav__link(href="#why") Why Us?
			li.affilate-nav__item: a.affilate-nav__link(href="#commission") Commission
			li.affilate-nav__item: a.affilate-nav__link(href="#faq") FAQ
			li.affilate-nav__item: a.affilate-nav__link(href="#contact") Contact US
			li.affilate-nav__item: a.affilate-nav__link(href="#login") Login
			li.affilate-nav__item: a.affilate-nav__link(href="#registration") Registration
