.vip
	h2.vip__title To become a VIP member is very easy:
	ol.vip__order
		li 
			a.vip__link Register
			|  in Ocean Casino and start to play.
		li Move up in our VIP member table and get additional bonuses.
	h3.vip__header Here is the list of advantages you can get by moving up in VIP status:
	ul.vip__advantages
		li Much higher bonus percentages;
		li Much better currency exchange of Comp Points;
		li Possibility to take part in exclusive promotions and tournaments;
		li Monthly cashback;
		li Personal account manager.
	table.vip__table
		thead
			tr
				th Here is a detailed table of VIP program:
				th: img.vip__img(src="img/vip/vip-1.png" alt="")
				th: img.vip__img(src="img/vip/vip-2.png" alt="")
				th: img.vip__img(src="img/vip/vip-3.png" alt="")
				th: img.vip__img(src="img/vip/vip-4.png" alt="")
				th: img.vip__img(src="img/vip/vip-5.png" alt="")
				th: img.vip__img(src="img/vip/vip-6.png" alt="")
		tbody
			tr
				td Status
				td Bronze
				td Silver
				td Gold
				td Platinum
				td Diamond
				td Premier
			tr
				td Monthly cashback
				td 0%
				td 0%
				td 0%
				td 1%
				td 3%
				td 5%
			tr
				td Comps exchange rate
				td 98=€1
				td 95=€1
				td 90=€1
				td 85=€1
				td 80=€1
				td 75=€1
			tr
				td Additional draws and bonuses, available only for VIP players
				td Yes
				td Yes
				td Yes
				td Yes
				td Yes
				td Yes
			tr
				td Personal bonuses for Birthdays**
				td €20
				td €30
				td €50
				td €75
				td €100
				td €150
			tr
				td Personal account manager
				td No
				td No
				td No
				td No
				td No
				td Yes
	h3.vip__header Getting a VIP status
	ul.vip__statuses
		li VIP Bronze player class will be assigned after making €100 deposits*.
		li VIP Silver player class will be assigned after making €500 deposits*.
		li VIP Gold player class will be assigned after making €1000 deposits*.
		li VIP Platinum player class will be assigned after making €3000 deposits*.
		li VIP Diamond player class will be assigned after making €5000 deposits*.
		li VIP Premier player class will be assigned after making €10000 deposits*.
	p.vip__text
		|Getting new VIP levels is taking place on the 1st day of each month after a player reached a certain amount of deposits*.
		|Only the amount of irreversible deposits* made by real money of any deposit methods is taking into consideration of getting a VIP status. The Casino Administration is notifying players of a new VIP status by email. To get the information of your current VIP status you can get by referring to customer support or by email to 
		a.vip__link(href="mailto:support@bosscasino.eu") support@bosscasino.eu
	p.vip__text
		|For example: the deposit of €100 counts as an irreversible one when the withdrawal amount of this deposit is less than €80 or bigger than €120. If the deposit of €100 with the bonus wagered having the balance from €80 to €120, so this deposit counts as reversible one and does not count in moving forward and back in VIP status.
	h3.vip__header Getting a monthly cashback in VIP program
	p.vip__text
		|The calculation and getting monthly cashbacks is taking place on the 1st day of each month. The calculation is done automatically with the following formula: (Σ of deposits – Σ of withdrawals) x %, where Σ of deposits is the amount of irreversible deposits made by a player during a month by real money with any deposit method. Σ of withdrawals is the amount of withdrawn money by a player made in the calculation period; % - is the percentage of a withdrawal. For VIP statuses, the monthly cashback % is the following: Platinum – 1%, Diamond – 3%, Premier – 5%. The calculated monthly cashback awarded to a player’s internal account. The Casino Administration is notifying players about receiving a VIP monthly cashback by emails.
	p.vip__text
		|For example: in March a player having a VIP status Premier made €1000 of irreversible deposits with a bank card and €800 with E-Wallets. The withdrawal amount is equal to €1000. On the 1st April (1800 - 1000) x 5% = €40, €40 will be added to a player’s balance.
	p.vip__more
		|*“the deposit” definition means the irreversible deposits, where the amount of withdrawals differ for more than 20% of the initial deposit.
	p.vip__more
		|**Bonus restrictions: maximum cashout is x5 times of the bonus amount and wagering x50 times. This bonus also applies to general 
		a.vip__link(href="#") bonuses Terms & Conditions.
