section.accountResponsible
	.profile__container
		p.profile__path
			| Home page > My profile > Responsible game
		h2.profile__title Responsible game
		table.accountResponsible__table
			thead
				tr.accountResponsible__tabs
					td(colspan="5")
						button.accountResponsible__limitButton.clicked Your limit
						button.accountResponsible__exclusionButton The exclusion
				tr.accountResponsible__exclusion.closed
					td(colspan="5")
						p.accountResponsible__exclusionText
							|If You want to limit your game and "cool", we can provide You with the following features
							em Do not allow me to enter the system on
						form.accountResponsible__exclusionForm(action="#")
							label.accountResponsible__exclusionItem
								input(type="radio")
								|Do not allow me to log in in the next 7 days.
							label.accountResponsible__exclusionItem
								input(type="radio")
								|The next 30 days
							label.accountResponsible__exclusionItem
								input(type="radio")
								|The next 3 months
							label.accountResponsible__exclusionItem
								input(type="radio")
								|Do not allow me to log in in the next 6 months.
							label.accountResponsible__exclusionItem
								input(type="radio")
								|One year
							p.accountResponsible__exclusionText
								|You will not be able to log in to your account during the selected time.
								em If You suddenly want to activate permanent exclusion, You can do this by sending us a request to email
								a(href="mailto:support@ocean.com") support@ocean.com
							input(type="submit" value="Accept")
				tr.accountResponsible__header
					th Limited type
					th Amount
					th Status
					th Completion
					th &nbsp;
			tbody
				tr.accountResponsible__row
					td.accountResponsible__item Deposit limit
					td.accountResponsible__item Without limiting
					td.accountResponsible__item Active
					td.accountResponsible__item Without expiry date
					td.accountResponsible__item 
						button.accountResponsible__button Change
				tr.accountResponsible__openRow.accountResponsible__openRow--closed
					td(colspan="5") 
						.accountResponsible__openItem
							img.accountResponsible__close(src="img/profile/close.png" alt="")
							p.accountResponsible__openText
								| You can choose an amount for deposit on your account per day, week or month with the help of the following Menu. These limits do not depend from the minimal amounts that are fixed for payments. On your email address you will get a confirmation email after fixing of the limit. You can reduce it anytime but if you want to change it (that it is possible to do with the help of the button below), you will get 72 hours delay and during this time you have a chance to think about the changes. Please draw your attention that the Deposit limit depends from your net amount!
							form.accountResponsible__openForm
								.accountResponsible__formItem
									label.withCash Currency: 
									input(type="text" placeholder="54673.00")
								.accountResponsible__formItem
									label Amount: 
									input(type="text" placeholder="0.00")
								.accountResponsible__formItem
									input(type="submit" value="Accept")
								.accountResponsible__formRadioGroup
									label.accountResponsible__radioItem
										input(type="radio" name="period")
										|Day limit
									label.accountResponsible__radioItem
										input(type="radio" name="period")
										|Week limit
									label.accountResponsible__radioItem
										input(type="radio" name="period")
										|Month limit
				tr.accountResponsible__row
					td.accountResponsible__item Deposit limit
					td.accountResponsible__item Without limiting
					td.accountResponsible__item Active
					td.accountResponsible__item Without expiry date
					td.accountResponsible__item 
						button.accountResponsible__button Change
				tr.accountResponsible__openRow.accountResponsible__openRow--closed
					td(colspan="5") 
						.accountResponsible__openItem
							img.accountResponsible__close(src="img/profile/close.png" alt="")
							p.accountResponsible__openText
								| You can choose an amount for deposit on your account per day, week or month with the help of the following Menu. These limits do not depend from the minimal amounts that are fixed for payments. On your email address you will get a confirmation email after fixing of the limit. You can reduce it anytime but if you want to change it (that it is possible to do with the help of the button below), you will get 72 hours delay and during this time you have a chance to think about the changes. Please draw your attention that the Deposit limit depends from your net amount!
							form.accountResponsible__openForm
								.accountResponsible__formItem
									label.withCash Currency: 
									input(type="text" placeholder="54673.00")
								.accountResponsible__formItem
									label Amount: 
									input(type="text" placeholder="0.00")
								.accountResponsible__formItem
									input(type="submit" value="Accept")
								.accountResponsible__formRadioGroup
									label.accountResponsible__radioItem
										input(type="radio" name="period")
										|Day limit
									label.accountResponsible__radioItem
										input(type="radio" name="period")
										|Week limit
									label.accountResponsible__radioItem
										input(type="radio" name="period")
										|Month limit
				tr.accountResponsible__row
					td.accountResponsible__item Deposit limit
					td.accountResponsible__item Without limiting
					td.accountResponsible__item Active
					td.accountResponsible__item Without expiry date
					td.accountResponsible__item 
						button.accountResponsible__button Change
				tr.accountResponsible__openRow.accountResponsible__openRow--closed
					td(colspan="5") 
						.accountResponsible__openItem
							img.accountResponsible__close(src="img/profile/close.png" alt="")
							p.accountResponsible__openText
								| You can choose an amount for deposit on your account per day, week or month with the help of the following Menu. These limits do not depend from the minimal amounts that are fixed for payments. On your email address you will get a confirmation email after fixing of the limit. You can reduce it anytime but if you want to change it (that it is possible to do with the help of the button below), you will get 72 hours delay and during this time you have a chance to think about the changes. Please draw your attention that the Deposit limit depends from your net amount!
							form.accountResponsible__openForm
								.accountResponsible__formItem
									label.withCash Currency: 
									input(type="text" placeholder="54673.00")
								.accountResponsible__formItem
									label Amount: 
									input(type="text" placeholder="0.00")
								.accountResponsible__formItem
									input(type="submit" value="Accept")
								.accountResponsible__formRadioGroup
									label.accountResponsible__radioItem
										input(type="radio" name="period")
										|Day limit
									label.accountResponsible__radioItem
										input(type="radio" name="period")
										|Week limit
									label.accountResponsible__radioItem
										input(type="radio" name="period")
										|Month limit
				tr.accountResponsible__row
					td.accountResponsible__item Deposit limit
					td.accountResponsible__item Without limiting
					td.accountResponsible__item Active
					td.accountResponsible__item Without expiry date
					td.accountResponsible__item 
						button.accountResponsible__button Change
				tr.accountResponsible__openRow.accountResponsible__openRow--closed
					td(colspan="5") 
						.accountResponsible__openItem
							img.accountResponsible__close(src="img/profile/close.png" alt="")
							p.accountResponsible__openText
								| You can choose an amount for deposit on your account per day, week or month with the help of the following Menu. These limits do not depend from the minimal amounts that are fixed for payments. On your email address you will get a confirmation email after fixing of the limit. You can reduce it anytime but if you want to change it (that it is possible to do with the help of the button below), you will get 72 hours delay and during this time you have a chance to think about the changes. Please draw your attention that the Deposit limit depends from your net amount!
							form.accountResponsible__openForm
								.accountResponsible__formItem
									label.withCash Currency: 
									input(type="text" placeholder="54673.00")
								.accountResponsible__formItem
									label Amount: 
									input(type="text" placeholder="0.00")
								.accountResponsible__formItem
									input(type="submit" value="Accept")
								.accountResponsible__formRadioGroup
									label.accountResponsible__radioItem
										input(type="radio" name="period")
										|Day limit
									label.accountResponsible__radioItem
										input(type="radio" name="period")
										|Week limit
									label.accountResponsible__radioItem
										input(type="radio" name="period")
										|Month limit
