.bets
	.bets__title 3 Way
	.bets__row
		.bets__item
			.bets__text Salah
			button.bets__button 0.45
		.bets__item
			.bets__text Draw
			button.bets__button 0.45
		.bets__item
			.bets__text Al Suwaiq
			button.bets__button 0.45
	.bets__title Double Chance
	.bets__row
		.bets__item
			.bets__text 1 / X
			button.bets__button 0.45
		.bets__item
			.bets__text 1 / 2
			button.bets__button 0.45
		.bets__item
			.bets__text X / 2
			button.bets__button 0.45
	.bets__title Under / Over 2.5
	.bets__row
		.bets__item
			.bets__text 2.5 Under
			button.bets__button 0.45
		.bets__item
			.bets__text 2.5 Over
			button.bets__button 0.45
	.bets__title Handicap 0 : 1
	.bets__row
		.bets__item
			.bets__text Salah
			button.bets__button 0.45
		.bets__item
			.bets__text Draw
			button.bets__button 0.45
		.bets__item
			.bets__text Al Suwaiq
			button.bets__button 0.45
	.bets__title Handicap 0 : 2
	.bets__row
		.bets__item
			.bets__text Salah
			button.bets__button 0.45
		.bets__item
			.bets__text Draw
			button.bets__button 0.45
		.bets__item
			.bets__text Al Suwaiq
			button.bets__button 0.45
	.bets__title Handicap 1 : 0
	.bets__row
		.bets__item
			.bets__text Salah
			button.bets__button 0.45
		.bets__item
			.bets__text Draw
			button.bets__button 0.45
		.bets__item
			.bets__text Al Suwaiq
			button.bets__button 0.45
	.bets__title Handicap 2 : 0
	.bets__row
		.bets__item
			.bets__text Salah
			button.bets__button 0.45
		.bets__item
			.bets__text Draw
			button.bets__button 0.45
		.bets__item
			.bets__text Al Suwaiq
			button.bets__button 0.45
	.bets__title Salah No Bet
	.bets__row
		.bets__item
			.bets__text Draw
			button.bets__button 0.45
		.bets__item
			.bets__text Al Suwaiq
			button.bets__button 0.45
	.bets__title Draw No Bet
	.bets__row
		.bets__item
			.bets__text Salah
			button.bets__button 0.45
		.bets__item
			.bets__text Al Suwaiq
			button.bets__button 0.45
	.bets__title Al Suwaiq No Bet
	.bets__row
		.bets__item
			.bets__text Salah
			button.bets__button 0.45
		.bets__item
			.bets__text Draw
			button.bets__button 0.45
