.popupRegister.open
	img.popupRegister__close(src="img/profile/close.png" alt="")
	.popupRegister__tabs
		.popupRegister__tab.active On phone
		.popupRegister__tab On e-mail
	.popupRegister__flexbox
		img.popupRegister__left(src="img/header/banner-left.png" alt="")
		form.popupRegister__form
			.popupRegister__item
				label.popupRegister__label Phone:
					em.star *
				.popupRegister__box
					input.popupRegister__input
			.popupRegister__item.closed
				label.popupRegister__label E-mail:
					em.star *
				.popupRegister__box
					input.popupRegister__input(type="email")
			.popupRegister__item
				label.popupRegister__label Login:
				.popupRegister__box
					input.popupRegister__input
			.popupRegister__item
				label.popupRegister__label Password:
					em.star *
				.popupRegister__box
					input.popupRegister__input(type="password")
			.popupRegister__item
				label.popupRegister__label Currency:
				.popupRegister__box
					select.popupRegister__select
						option(value="1") EUR
						option(value="2") USD
						option(value="3") RUS
					label.popupRegister__label Promo Code:
					input.popupRegister__input.little
			.popupRegister__checks
				.popupRegister__check
					label
						input(type='checkbox', checked)
						span
						| I wish to receive news and offers by email.
				.popupRegister__check
					label
						input(type='checkbox', checked)
						span
						| I wish to receive news and offers SMS.
			input.popupRegister__submit(type="submit" value="Sign Up")
			
		img.popupRegister__right(src="img/header/banner-right.png" alt="")
	
