//- include ../blocks/footer/payments/payments.jade
.payments
	img.payments__img(src='img/header/payments-1.png', alt='Payments')
	img.payments__img(src='img/header/payments-2.png', alt='Payments')
	p.payments__copy The website is operated and managed by MYEG (Emancipate Boulevard 29, Willemstad, Curracao). Licence No. 5536/JAZ.
		span.payments__licence  OceanCasino.com © 2016
