.profile {
	position: relative;
	background-image: url("img/games/game-bg.png");
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: cover;
	&__content {
		min-height: 600px;
	}
	&__container {
		max-width: 1000px;
		margin: 0 auto;
	}
	&__path {
		padding: 1em 0;
		color: #01f7f6;
		font-size: 12px;
		font-weight: 400;
		cursor: pointer;
	}
	&__title {
		padding: 1em 0;
		color: white;
		font-size: 17px;
		font-weight: 500;
		line-height: 18px;
		text-transform: uppercase;
	}
}
