.profile
	include ../../blocks/accountPanel/accountPanel.jade
	//- include ../../blocks/accountProfile/accountProfile.jade
	//- include ../../blocks/accountDeposit/accountDeposit.jade
	//- include ../../blocks/accountWithdraw/accountWithdraw.jade
	//- include ../../blocks/accountPayments/accountPayments.jade
	//- include ../../blocks/accountHistory/accountHistory.jade	
	//- include ../../blocks/accountEmail/accountEmail.jade	
	//- include ../../blocks/accountPassword/accountPassword.jade	
	//- include ../../blocks/accountResponsible/accountResponsible.jade	
	include ../../blocks/accountBonuses/accountBonuses.jade	
