doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
		
		block title
			title Ocean Casino
		
		link(rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon")
		link(rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png")
		link(rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png")
		link(rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png")
		block styles
			link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css")
			link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300&subset=latin,cyrillic")
			link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.css")
			link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick-theme.min.css")
			
			link(rel="stylesheet" href="main.css")
	body
		main
			block header
				//- Mixins
				include ../blocks/header/logged/logged.jade
				include ../blocks/header/entry/entry.jade
				include ../blocks/header/nav/nav.jade
				header.header
					section.header__top
						.container
							block logo
								include ../blocks/header/logo/logo.jade
							block logged
								+logged(false)
							block entry
								+entry(false)
					section.header__nav
						.container
							block nav
								+nav(false, 1)
			
			block buttons
				//- Side buttons
				include ../blocks/buttons/liveChatButton/liveChatButton.jade
				include ../blocks/buttons/upButton/upButton.jade
			
			block page
			
		block footer
			footer.footer
				section.footer__nav
					.container
						block footer-nav
							include ../blocks/footer/footer-nav/footer-nav.jade
				section.footer__info
					.container
						.info
							section.info__payments
								block payments
									include ../blocks/footer/payments/payments.jade
							section.info__socials
								block socials
									include ../blocks/footer/socials/socials.jade

		block popups
			include ../blocks/popups/deposit/deposit.jade
			include ../blocks/popups/forgot/forgot.jade
			include ../blocks/popups/login/login.jade
			include ../blocks/popups/register/register.jade
		block scripts
			script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
			script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.js")
			script(src="main.js")
		
