include ../blocks/pages/breadcrumbs/breadcrumbs.jade
extends base-layout
block page
	.page
		.page__panel
			.container
				block panel
		.page__content
			.container
				block breadcrumbs
				block content
