extends long-layout
block title
	title Ocean Casino - Promotions
block nav
	+nav(false, 9)
//- block panel
//- 	include ../blocks/promotions/panel/panel.jade
block breadcrumbs
	+bread([{name: "Home Page", href: "/"},
	{name: "Promotions", current: true}])
block content
	include ../blocks/promotions/content/content.jade
