ul.sports-accordeon
	li.sports-accordeon__item Main Bets
	include ../bets/bets.jade
	li.sports-accordeon__item Match Bets
	include ../bets/bets.jade
	li.sports-accordeon__item Goals Markets
	include ../bets/bets.jade
	li.sports-accordeon__item AL Asalah
	include ../bets/bets.jade
	li.sports-accordeon__item Shabab Al Ordun
	include ../bets/bets.jade
	li.sports-accordeon__item Score Markets
	include ../bets/bets.jade
