section.accountPassword
	.profile__container
		p.profile__path
			| Home page > My profile > Change password
		h2.profile__title Change password
		form.accountPassword__form
			.accountPassword__item
				label.accountPassword__old Old password:
				input(type="password")
			.accountPassword__item
				label.accountPassword__new Your new password:
				input(type="password")
			.accountPassword__item
				label.accountPassword__repeat Repeat the password:
				input(type="password")
			.accountPassword__item
				label.accountPassword__captcha Please enter the characters from the image:
				img.accountPassword__img(src="img/profile/captcha.png" alt="")
				input(type='text')
			input(type="submit" value="Save")
