.popupForgot
	.popupForgot__title Forgot password
	.popupForgot__text Please enter your email and you will receive an email with an instruction how to reset your password.
	img.popupForgot__close(src="img/profile/close.png" alt="")
	form.popupForgot__form
		.popupForgot__item
			label.popupForgot__label E-mail:
			input.popupForgot__input
		.popupForgot__item
			label.popupForgot__label Please, enter chars from the image:
			img.popupForgot__img(src="img/header/captcha.png" alt="")
			input.popupForgot__input
		.popupForgot__item
			input.popupForgot__submit(type="submit" value="Send")
