.terms
	h2.terms__title Terms and Conditions
	h3.terms__header Main principles
	p.terms__text
		|By using and/or visiting any section of the Website 
		a.terms__link(href="http://www.bosscasino.eu") www.bosscasino.eu 
		| (hereafter referred to as “Website”) or registering an account, each player agrees to stand by the following regulations:
	ul.terms__list
		li General terms and conditions that described below.
		li Any gambling rules.
		li The Privacy Policy.
		li General terms and conditions which belong to all temporary bonuses, special offers and promotions that may be found on a Website.
		li All above mentioned terms and conditions shall together be referred to as “Terms”.
	p.terms__text
		|Before accepting the Terms, please, carefully read them. If you do not agree to accept and to stand by the Terms, do not register your account and do not use the Website. Otherwise, if you continue to use the Website, you agree with the Terms.
	p.terms__text
		|The Terms came into force from the 1st of March 2016.
	h3.terms__header General Terms and Conditions
	ul.terms__main
		li
			h4.terms__header Parties
			p.terms__text
				|The website is operated and managed by MYEG B.V. (Emancipate Boulevard 29, Willemstad, Curacao). Company’s business is licensed and regulated in virtue of license number No. 5536/JAZ granted by the Government of Curacao.
				br
				|All references “we”, “us”, “Company”, and “our” or “Website”, that mentioned in the Terms, are references to the party with whom you are contacting.
		li
			h4.terms__header Changes to the Terms of use
			p.terms__text
				|We may to change the Terms for a number of reasons, including the commercial one. Changes may be made to comply with the new legislation and regulations or just for customer service reasons.
				br
				|The Company will inform you by email or by placing a notice on a Website, when will make some changes in the Terms of use.
		li
			h4.terms__header Opening an account
			p.terms__text
				|Each client before bet on the Website needs to register (create personal account).
				br
				|Each player, before creating the personal account, shall be satisfied that gambling is not illegal in his jurisdiction.
				br
				|Each player shall register personally.
				br
				|Support team or on-screen instructions will help you with the registration of your account.
				br
				|When you open your account you will be asked to provide us with some personal details, including your name, contact information, date of birth, an address, phone number and email.
				br
				|Admitting all the Terms, you confirm that understand and accept, that by using the services of the Website, you may both the win and lose money.
				br
				|We allow only one account per person. It is necessary to indicate correct and real name. All additional accounts shall be a “Duplicate Accounts” and any of them may be closed immediately.
				br
				|Statements on deleting of Duplicate Accounts
			p.terms__text
				|All actions that were did in Duplicate Accounts become completely null and void.
				br
				|Any winnings, bonuses and returns which you have gained from the Duplicate Account we call into question and also we may reclaim it. You will return to us all demanded funds which have been withdrawn from the Duplicate Account.
				br
				|Deleting and editing of the Account
			p.terms__text
				|If you wish to open the new account, you need to contact the Manager of our company via email 
				a.terms__link(href="mailto:support@bosscasino.eu") support@bosscasino.eu
				|. If the new account is opened the previous one will be deleted automatically.
				br
				|You need to maintain your account and keep the details up-to-date.
				br
				|If you want to close your account, you need to send an official request on
				a.terms__link(href="mailto:support@bosscasino.eu") support@bosscasino.eu
		li
			h4.terms__header Personal identification
			p.terms__text
				|Each registered client warrants that:
				br
				|He is not younger than 18 years;
				br
				|He has a legal age for gambling under the jurisdiction of his country;
				br
				|All funds, which are on client’s account, are legal.
				br
				|Our Company complies with European and Curacao Laws, legal regulations and guidance for the prevention of money laundering and terrorism financing. All suspicious transactions will be investigated. In such case the Company is prohibited to inform the player or third parties involved about the investigation. An exception can be details that an investigation is being or may be carried out or that an information has been or maybe transmitted to the competent authorities. In case of suspicious activity the Company has the right to suspend, freeze, block, delete or close player’s account and withhold funds according to law or if it is required by the competent authorities.
				br
				|On our Website all transactions are checked to prevent money laundering and other illegal activity.
				br
				|If you agree with the Terms, you authorize us to undertake personal identification check, due to our requirements or requirements from the third party (including regulatory authority) to confirm your identity and contact details.
				br
				|The Company has the right to check the personality of the client under each requirement for withdrawal.
				br
				|In certain circumstances we may have to contact you and ask to provide necessary information in order to complete the Check. If you do not provide us with required information, the Company reserves the right to freeze or to close your account until you have provided us with information.
				br
				|If you are a citizen of such countries as Japan, Israel, Iran or China, etc. (where documents are not in Latin characters), the company will request documents in English.
				br
				|If you do not confirm that you already are 18 years old, the Company has the right to freeze your account.
				br
				|If it was proved that you are younger than 18 years and you did some actions on the Website, then:
			p.terms__text
				|The Company will close your account.
				br
				|All transactions that were made during this period will be cancelled.
				br
				|All bets wouldn’t returned.
				br
				|Any winnings that you have get during this period will be forfeited. Also you should return us all funds that have been withdrawn from your Account.
		li
			h4.terms__header Login, password and client’s details.
			p.terms__text
				|After opening an Account the client undertakes to keep private his login and password.  If you lost or forgotten your password, you can click on “Forget your password?” link below the login.
		li
			h4.terms__header Deposits to your account.
			p.terms__text
				|To participate in gambling or betting on the Website, you need to deposit money to your Account.
				br
				|On our Website you can find an information how to deposit player’s account. For nowadays we have the following variants of payment methods: debit cards, credit cards, prepaid cards and e-wallets. If so required, the Company reserves the right to change the payment methods. The Company does not warrant that all payment methods are available all the time. To verify which payment and withdrawal methods that are currently available you can find in the relevant section. 
				br
				|The Company does not accept cash funds. 
				br
				|By depositing money you agree do not cancel and claim back the funds.
				br
				|Per one transaction you can deposit 1000 Euros as maximum.
				br
				|The Company can credit the player’s account, in exceptional circumstances, with the help of so called “bonus money”. The rules and the crediting of the bonus and the amount of the bonus is determined by the company and all information about it sets out on the website.
				br
				|The minimum deposit required in order to receive deposit bonus is €10 or equivalent in another currency.
				br
				|The Company reserves the right to forfeit any positive balance on your account in case of reset of the wager or any actions that belong to Duplicate 
	
