.policy
	h2.policy__title Private Policy
	h3.policy__header Information on created accounts
	p.policy__text
		|We sort out all personal details about our players via online – application form or e-mail. In addition, we have all information about players’ transactions, including all details of their credit cards. Name and e-mail, private address and phone number, debit/credit cards details, date of birth and other details that players provide during their registration on the website, any questionnaires, etc. belong to this personal information. When you play casino slots developed by NetEnt, NetEnt's privacy policy also applies. It can be found in the following LINK.
	h3.policy__header Using of personal details
	p.policy__text
		|We use personal details of our players for the following purposes:
	ul.policy__list
		li Creating and keeping records of all operations on playing accounts;
		li Customer service;
		li Customization of provided services;
		li Contact information and requests processing;
		li Inform players about updating of our software and/or changing in the set of provided services;
		li Check players’ compliance with the requirements of our website and reliability of information;
		li Realization of our common regulatory powers, prevention of illegal measures, processing of all requests from the competent authority about data transfer;
		li Marketing research;
		li Inform players about product and services and also client support;
		li Market promotion of our products and services, including products and services of our official partners and members of our corporate group.
		li In any other cases, we ask to provide a permit to use of received data with the reason for information request.
	h3.policy__header Disclosure of personal information
	p.policy__text
		|If so required we have the right to disclose player’s personal information to any parties listed below:
	ul.policy__list
		li Companies, a part of our group companies, and employees, who deal with your personal details;
		li Third parties, who allow us to provide gaming services such as: payment system operators and verifying services;
		li Any third parties that provide us with operation and maintenance of BOSS Casino;
		li Any auditors, contractors or consulting organizations in the field of financial audit and business management, as well as structures that need this information in order to run an advertising campaign;
		li Any regulation authority or authorized structures that have the right to have access to personal information of players on legal grounds;
		li Any potential BOSS Casino business owners or investors and companies as a part of our corporate group.
	h3.policy__header Advertising system
	p.policy__text
		|Our advertising system gathers information about IP addresses of our visitors. This allows select the appropriate advertising for our players; this is about banners in their native language.
	h3.policy__header Distribution of information via email.
	p.policy__text
		|We are against spam!
	p.policy__text
		|We send you an information via email just if we already received your acceptance to emails.
	p.policy__text
		|We will send you promotional notifications and email updates until the moment when you inform us that you do not wish to receive our email notifications.
	p.policy__text
		|You can notify us that do not wish to receive this information any time and for this, you need to do the next:
	ul.policy__list
		li Follow the link that cancels opt-in and is in all notifications of BOSS Casino and follow the instructions that you can find on the page;
		li Please contact us via chat in Casino’s menu;
		li Send us notification to 
			a.policy__link(href="mailto:support@bosscasino.eu") support@bosscasino.eu.
	p.policy__text
		|We stop to send you email after receiving of your refusal.
	h3.policy__header Winnings
	p.policy__text
		|Your winnings and payments are completely confidential and payments’ information is saved in secured online environment. BOSS Casino preserves absolutely confidentiality of your winnings and does not provide with this information to any third parties except in cases of the government bodies request or any regulatory authorities according to law.
	h3.policy__header Using of Cookies (general terms)
	p.policy__text
		|Cookies are usually small text files, given ID tags that are stored on your computer's browser directory or program data subfolders. For more on Cookies please follow the link 
		a.policy__link(href="http://www.aboutcookies.org/")  http://www.aboutcookies.org/
		|. We use these files for your identifying under visiting of our website and control the specialty of pages’ review. Most part of browsers allow disabling the Cookies. Please visit help menu of your browser for its disabling. Nevertheless, note that it will limit the using of some functionality of our website.
	h3.policy__header Safety
	p.policy__text
		|We use high technology for safety protection of your information. All details are encoded with the best technologies and stored on the server with the modern and firewall’s efficient means. Our website and software use technologies that ensure safety of the data and protect from the loss or/and misusing.
	p.policy__text
		|For any questions please contact our support team that works 24/7. Our operators will be happy to help you.
