section.accountWithdraw
	.profile__container
		p.profile__path
			| Home page > My profile > Withdrawals
		h2.profile__title Withdrawals
		p.accountWithdraw__text
			em Helpful information about withdrawals:
			br
			|If the method that you used for deposit accepts the financial credit, then withdrawal shall be done with the same method (this is requirement of laws for anti-money laundering and for safety provision of your funds). If you used the method that doesn't allow to accept the financial credit, you can use the following options:
		table.accountWithdraw__table
			thead
				tr.accountWithdraw__header
					th Credit cards
					th The Commission
					th Limitation on transactions
					th &nbsp;
			tbody
				tr.accountWithdraw__row
					td.accountWithdraw__item 
						img.accountWithdraw__img(src="img/profile/visa.png" alt="")
						|VISA Credit card
					td.accountWithdraw__item 0%
					td.accountWithdraw__item 
						span Min. 
							em 20
							|&nbsp;UAH
						span Max. 
							em 10000
							|&nbsp;UAH
					td.accountWithdraw__item 
						button.accountWithdraw__button Withdraw
				tr.accountWithdraw__openRow.accountWithdraw__openRow--closed
					td(colspan="4") 
						.accountWithdraw__openItem
							img.accountWithdraw__close(src="img/profile/close.png" alt="")
							p.accountWithdraw__openHeader
								img.accountWithdraw__openImg(src="img/profile/visa.png" alt="")
								| VISA Credit card
							p.accountWithdraw__openText
								| Money transfer directly to your Bank account..
							form.accountWithdraw__openForm(action="#")
								label.accountWithdraw__openLabel Amount: 
									input.accountWithdraw__openInput(placeholder="0.00")
								input.accountWithdraw__openSubmit(type="submit" value="Continue")
				tr.accountWithdraw__row
					td.accountWithdraw__item 
						img.accountWithdraw__img(src="img/profile/visa.png" alt="")
						|VISA Credit card
					td.accountWithdraw__item 0%
					td.accountWithdraw__item 
						span Min. 
							em 20
							|&nbsp;UAH
						span Max. 
							em 10000
							|&nbsp;UAH
					td.accountWithdraw__item 
						button.accountWithdraw__button Withdraw
				tr.accountWithdraw__openRow.accountWithdraw__openRow--closed
					td(colspan="4") 
						.accountWithdraw__openItem
							img.accountWithdraw__close(src="img/profile/close.png" alt="")
							p.accountWithdraw__openHeader
								img.accountWithdraw__openImg(src="img/profile/visa.png" alt="")
								| VISA Credit card
							p.accountWithdraw__openText
								| Money transfer directly to your Bank account..
							form.accountWithdraw__openForm(action="#")
								label.accountWithdraw__openLabel Amount: 
									input.accountWithdraw__openInput(placeholder="0.00")
								input.accountWithdraw__openSubmit(type="submit" value="Continue")
				tr.accountWithdraw__row
					td.accountWithdraw__item 
						img.accountWithdraw__img(src="img/profile/visa.png" alt="")
						|VISA Credit card
					td.accountWithdraw__item 0%
					td.accountWithdraw__item 
						span Min. 
							em 20
							|&nbsp;UAH
						span Max. 
							em 10000
							|&nbsp;UAH
					td.accountWithdraw__item 
						button.accountWithdraw__button Withdraw
				tr.accountWithdraw__openRow.accountWithdraw__openRow--closed
					td(colspan="4") 
						.accountWithdraw__openItem
							img.accountWithdraw__close(src="img/profile/close.png" alt="")
							p.accountWithdraw__openHeader
								img.accountWithdraw__openImg(src="img/profile/visa.png" alt="")
								| VISA Credit card
							p.accountWithdraw__openText
								| Money transfer directly to your Bank account..
							form.accountWithdraw__openForm(action="#")
								label.accountWithdraw__openLabel Amount: 
									input.accountWithdraw__openInput(placeholder="0.00")
								input.accountWithdraw__openSubmit(type="submit" value="Continue")
				tr.accountWithdraw__row
					td.accountWithdraw__item 
						img.accountWithdraw__img(src="img/profile/visa.png" alt="")
						|VISA Credit card
					td.accountWithdraw__item 0%
					td.accountWithdraw__item 
						span Min. 
							em 20
							|&nbsp;UAH
						span Max. 
							em 10000
							|&nbsp;UAH
					td.accountWithdraw__item 
						button.accountWithdraw__button Withdraw
				tr.accountWithdraw__openRow.accountWithdraw__openRow--closed
					td(colspan="4") 
						.accountWithdraw__openItem
							img.accountWithdraw__close(src="img/profile/close.png" alt="")
							p.accountWithdraw__openHeader
								img.accountWithdraw__openImg(src="img/profile/visa.png" alt="")
								| VISA Credit card
							p.accountWithdraw__openText
								| Money transfer directly to your Bank account..
							form.accountWithdraw__openForm(action="#")
								label.accountWithdraw__openLabel Amount: 
									input.accountWithdraw__openInput(placeholder="0.00")
								input.accountWithdraw__openSubmit(type="submit" value="Continue")
				tr.accountWithdraw__row
					td.accountWithdraw__item 
						img.accountWithdraw__img(src="img/profile/visa.png" alt="")
						|VISA Credit card
					td.accountWithdraw__item 0%
					td.accountWithdraw__item 
						span Min. 
							em 20
							|&nbsp;UAH
						span Max. 
							em 10000
							|&nbsp;UAH
					td.accountWithdraw__item 
						button.accountWithdraw__button Withdraw
				tr.accountWithdraw__openRow.accountWithdraw__openRow--closed
					td(colspan="4") 
						.accountWithdraw__openItem
							img.accountWithdraw__close(src="img/profile/close.png" alt="")
							p.accountWithdraw__openHeader
								img.accountWithdraw__openImg(src="img/profile/visa.png" alt="")
								| VISA Credit card
							p.accountWithdraw__openText
								| Money transfer directly to your Bank account..
							form.accountWithdraw__openForm(action="#")
								label.accountWithdraw__openLabel Amount: 
									input.accountWithdraw__openInput(placeholder="0.00")
								input.accountWithdraw__openSubmit(type="submit" value="Continue")
				tr.accountWithdraw__row
					td.accountWithdraw__item 
						img.accountWithdraw__img(src="img/profile/visa.png" alt="")
						|VISA Credit card
					td.accountWithdraw__item 0%
					td.accountWithdraw__item 
						span Min. 
							em 20
							|&nbsp;UAH
						span Max. 
							em 10000
							|&nbsp;UAH
					td.accountWithdraw__item 
						button.accountWithdraw__button Withdraw
				tr.accountWithdraw__openRow.accountWithdraw__openRow--closed
					td(colspan="4") 
						.accountWithdraw__openItem
							img.accountWithdraw__close(src="img/profile/close.png" alt="")
							p.accountWithdraw__openHeader
								img.accountWithdraw__openImg(src="img/profile/visa.png" alt="")
								| VISA Credit card
							p.accountWithdraw__openText
								| Money transfer directly to your Bank account..
							form.accountWithdraw__openForm(action="#")
								label.accountWithdraw__openLabel Amount: 
									input.accountWithdraw__openInput(placeholder="0.00")
								input.accountWithdraw__openSubmit(type="submit" value="Continue")
