.overview
	.overview__header
		table.overview__table(cellspacing="0" cellpadding="0")
			tr
				th(width="20%") Matches
				th(width="16%") Score
				th(width="6.5%") 1
				th(width="6.5%") X
				th(width="6.5%") 2
				th(width="6%") Over
				th(width="6.5%") Goals
				th(width="12%") Under
				th(width="") Next goal
	.overview__title Australia
		span FFA CUP 2016
	.overview__match
		.match
			.match__name Belconnen United Canberra FC
				em 
					strong 1-1 
					|1st Half OT 
					strong min 93
			.match__text
				|Full Time 
				br
				|Excluding Overtime
			.match__buttons
				button.match__button 5.45
				button.match__button 0.45
				button.match__button 3.45
			.match__buttons
				button.match__button 5.45
				button.match__button.blue 0.45
				button.match__button 3.45
			.match__buttons
				button.match__button.gray
				button.match__button.gray
				button.match__button 3.45
			.match__gold +7
		.match
			.match__name Weston Molonglo FC Cooma Tigers
				em 
					strong 0-1 
					| Half time 
			.match__text
				|Full Time 
				br
				|Excluding Overtime
			.match__buttons
				button.match__button 5.45
				button.match__button 0.45
				button.match__button 3.45
			.match__buttons
				button.match__button 5.45
				button.match__button.blue 0.45
				button.match__button 3.45
			.match__buttons
				button.match__button.gray
				button.match__button.gray
				button.match__button 3.45
			.match__gold +24
	.overview__title Russia
		span 3. DIVISION 2016
	.overview__match
		.match
			.match__name Timiryazevets Solyaris Moscow
				em 
					strong 1-1 
					| 1st Half time OT 
					strong min 46
			.match__text
				|Full Time 
				br
				|Excluding Overtime
			.match__buttons
				button.match__button 5.45
				button.match__button 0.45
				button.match__button 3.45
			.match__buttons
				button.match__button 5.45
				button.match__button.blue 0.45
				button.match__button 3.45
			.match__buttons
				button.match__button.gray
				button.match__button.gray
				button.match__button 3.45
			.match__gold +125
