section.accountPayments
	.profile__container
		p.profile__path
			| Home page > My profile > Expected payments
		h2.profile__title Expected payments
		p.accountPayments__text
			em You have no pending requests for withdrawal of funds.
			br
			|When in the list there is an expected payment, You can cancel this transaction and return the funds instantly to Your account.
		table.accountPayments__table
			thead
				tr.accountPayments__header
					th ID of operation
					th Date
					th Method
					th Amount
					th Status
					th Details
					th &nbsp;
			tbody
				tr.accountPayments__row
					td.accountPayments__item 23455333
					td.accountPayments__item 12.08.2015
					td.accountPayments__item 
						img.accountPayments__img(src="img/profile/visa.png" alt="")
					td.accountPayments__item $238.232
					td.accountPayments__item 
						img.accountPayments__img(src="img/profile/time.png" alt="")
					td.accountPayments__item 
						img.accountPayments__img(src="img/profile/info.png" alt="")
						span Open
					td.accountPayments__item 
						button.accountPayments__button Cancel
				tr.accountPayments__openRow.accountPayments__openRow--closed
					td(colspan="7") 
						.accountPayments__openItem
							img.accountPayments__close(src="img/profile/close.png" alt="")
							p.accountPayments__openHeader
								img.accountPayments__openImg(src="img/profile/visa.png" alt="")
								| 12.08.2015
							p.accountPayments__openText
								| Detailed description of the operation ID 
								em № 3232311123
							form.accountPayments__openForm(action="#")
								label.accountPayments__openLabel
									.input_file
										input(type='file', name='')
										.fake_file
											input(type='button', value='Attach file')
							p.accountPayments__openWarning 
								|* The document size cannot exceed more 5 MB
				tr.accountPayments__row
					td.accountPayments__item 23455333
					td.accountPayments__item 12.08.2015
					td.accountPayments__item 
						img.accountPayments__img(src="img/profile/visa.png" alt="")
					td.accountPayments__item $238.232
					td.accountPayments__item 
						img.accountPayments__img(src="img/profile/time.png" alt="")
					td.accountPayments__item 
						img.accountPayments__img(src="img/profile/info.png" alt="")
						span Open
					td.accountPayments__item 
						button.accountPayments__button Cancel
				tr.accountPayments__openRow.accountPayments__openRow--closed
					td(colspan="7") 
						.accountPayments__openItem
							img.accountPayments__close(src="img/profile/close.png" alt="")
							p.accountPayments__openHeader
								img.accountPayments__openImg(src="img/profile/visa.png" alt="")
								| 12.08.2015
							p.accountPayments__openText
								| Detailed description of the operation ID 
								em № 3232311123
							form.accountPayments__openForm(action="#")
								label.accountPayments__openLabel
									.input_file
										input(type='file', name='')
										.fake_file
											input(type='button', value='Attach file')
							p.accountPayments__openWarning 
								|* The document size cannot exceed more 5 MB
				tr.accountPayments__row
					td.accountPayments__item 23455333
					td.accountPayments__item 12.08.2015
					td.accountPayments__item 
						img.accountPayments__img(src="img/profile/visa.png" alt="")
					td.accountPayments__item $238.232
					td.accountPayments__item 
						img.accountPayments__img(src="img/profile/time.png" alt="")
					td.accountPayments__item 
						img.accountPayments__img(src="img/profile/info.png" alt="")
						span Open
					td.accountPayments__item 
						button.accountPayments__button Cancel
				tr.accountPayments__openRow.accountPayments__openRow--closed
					td(colspan="7") 
						.accountPayments__openItem
							img.accountPayments__close(src="img/profile/close.png" alt="")
							p.accountPayments__openHeader
								img.accountPayments__openImg(src="img/profile/visa.png" alt="")
								| 12.08.2015
							p.accountPayments__openText
								| Detailed description of the operation ID 
								em № 3232311123
							form.accountPayments__openForm(action="#")
								label.accountPayments__openLabel
									.input_file
										input(type='file', name='')
										.fake_file
											input(type='button', value='Attach file')
							p.accountPayments__openWarning 
								|* The document size cannot exceed more 5 MB
				tr.accountPayments__row
					td.accountPayments__item 23455333
					td.accountPayments__item 12.08.2015
					td.accountPayments__item 
						img.accountPayments__img(src="img/profile/visa.png" alt="")
					td.accountPayments__item $238.232
					td.accountPayments__item 
						img.accountPayments__img(src="img/profile/time.png" alt="")
					td.accountPayments__item 
						img.accountPayments__img(src="img/profile/info.png" alt="")
						span Open
					td.accountPayments__item 
						button.accountPayments__button Cancel
				tr.accountPayments__openRow.accountPayments__openRow--closed
					td(colspan="7") 
						.accountPayments__openItem
							img.accountPayments__close(src="img/profile/close.png" alt="")
							p.accountPayments__openHeader
								img.accountPayments__openImg(src="img/profile/visa.png" alt="")
								| 12.08.2015
							p.accountPayments__openText
								| Detailed description of the operation ID 
								em № 3232311123
							form.accountPayments__openForm(action="#")
								label.accountPayments__openLabel
									.input_file
										input(type='file', name='')
										.fake_file
											input(type='button', value='Attach file')
							p.accountPayments__openWarning 
								|* The document size cannot exceed more 5 MB
				tr.accountPayments__row
					td.accountPayments__item 23455333
					td.accountPayments__item 12.08.2015
					td.accountPayments__item 
						img.accountPayments__img(src="img/profile/visa.png" alt="")
					td.accountPayments__item $238.232
					td.accountPayments__item 
						img.accountPayments__img(src="img/profile/time.png" alt="")
					td.accountPayments__item 
						img.accountPayments__img(src="img/profile/info.png" alt="")
						span Open
					td.accountPayments__item 
						button.accountPayments__button Cancel
				tr.accountPayments__openRow.accountPayments__openRow--closed
					td(colspan="7") 
						.accountPayments__openItem
							img.accountPayments__close(src="img/profile/close.png" alt="")
							p.accountPayments__openHeader
								img.accountPayments__openImg(src="img/profile/visa.png" alt="")
								| 12.08.2015
							p.accountPayments__openText
								| Detailed description of the operation ID 
								em № 3232311123
							form.accountPayments__openForm(action="#")
								label.accountPayments__openLabel
									.input_file
										input(type='file', name='')
										.fake_file
											input(type='button', value='Attach file')
							p.accountPayments__openWarning 
								|* The document size cannot exceed more 5 MB
				tr.accountPayments__row
					td.accountPayments__item 23455333
					td.accountPayments__item 12.08.2015
					td.accountPayments__item 
						img.accountPayments__img(src="img/profile/visa.png" alt="")
					td.accountPayments__item $238.232
					td.accountPayments__item 
						img.accountPayments__img(src="img/profile/time.png" alt="")
					td.accountPayments__item 
						img.accountPayments__img(src="img/profile/info.png" alt="")
						span Open
					td.accountPayments__item 
						button.accountPayments__button Cancel
				tr.accountPayments__openRow.accountPayments__openRow--closed
					td(colspan="7") 
						.accountPayments__openItem
							img.accountPayments__close(src="img/profile/close.png" alt="")
							p.accountPayments__openHeader
								img.accountPayments__openImg(src="img/profile/visa.png" alt="")
								| 12.08.2015
							p.accountPayments__openText
								| Detailed description of the operation ID 
								em № 3232311123
							form.accountPayments__openForm(action="#")
								label.accountPayments__openLabel
									.input_file
										input(type='file', name='')
										.fake_file
											input(type='button', value='Attach file')
							p.accountPayments__openWarning 
								|* The document size cannot exceed more 5 MB
				tr.accountPayments__row
					td.accountPayments__item 23455333
					td.accountPayments__item 12.08.2015
					td.accountPayments__item 
						img.accountPayments__img(src="img/profile/visa.png" alt="")
					td.accountPayments__item $238.232
					td.accountPayments__item 
						img.accountPayments__img(src="img/profile/time.png" alt="")
					td.accountPayments__item 
						img.accountPayments__img(src="img/profile/info.png" alt="")
						span Open
					td.accountPayments__item 
						button.accountPayments__button Cancel
				tr.accountPayments__openRow.accountPayments__openRow--closed
					td(colspan="7") 
						.accountPayments__openItem
							img.accountPayments__close(src="img/profile/close.png" alt="")
							p.accountPayments__openHeader
								img.accountPayments__openImg(src="img/profile/visa.png" alt="")
								| 12.08.2015
							p.accountPayments__openText
								| Detailed description of the operation ID 
								em № 3232311123
							form.accountPayments__openForm(action="#")
								label.accountPayments__openLabel
									.input_file
										input(type='file', name='')
										.fake_file
											input(type='button', value='Attach file')
							p.accountPayments__openWarning 
								|* The document size cannot exceed more 5 MB
				tr.accountPayments__row
					td.accountPayments__item 23455333
					td.accountPayments__item 12.08.2015
					td.accountPayments__item 
						img.accountPayments__img(src="img/profile/visa.png" alt="")
					td.accountPayments__item $238.232
					td.accountPayments__item 
						img.accountPayments__img(src="img/profile/time.png" alt="")
					td.accountPayments__item 
						img.accountPayments__img(src="img/profile/info.png" alt="")
						span Open
					td.accountPayments__item 
						button.accountPayments__button Cancel
				tr.accountPayments__openRow.accountPayments__openRow--closed
					td(colspan="7") 
						.accountPayments__openItem
							img.accountPayments__close(src="img/profile/close.png" alt="")
							p.accountPayments__openHeader
								img.accountPayments__openImg(src="img/profile/visa.png" alt="")
								| 12.08.2015
							p.accountPayments__openText
								| Detailed description of the operation ID 
								em № 3232311123
							form.accountPayments__openForm(action="#")
								label.accountPayments__openLabel
									.input_file
										input(type='file', name='')
										.fake_file
											input(type='button', value='Attach file')
							p.accountPayments__openWarning 
								|* The document size cannot exceed more 5 MB
