section.accountBonuses
	.profile__container
		p.profile__path
			| Home page > My profile > Active bonuses
		h2.profile__title Active bonuses
		.accountBonuses__box
			.accountBonuses__item
				.bonus
					.bonus__left
						p.bonus__header Bonus account: 
						img.bonus__img(src="img/account/bonus-1.png" alt="")
						p.bonus__date Active to
							em 12.14.2016
					.bonus__right
						p.bonus__account 2000
						p.bonus__wager 1000
						p.bonus__wagerCash 50$
						button.bonus__button Pick up
			.accountBonuses__item
			.accountBonuses__item
			.accountBonuses__item
		.accountBonuses__text
			|Your activity will be rewarded! Each bet in BOSS CASINO will bring you comp points - comps. These points you can convert into real money without any wagers or requirements. VIP players can change each 100 comps for 1$. Currency exchange depends from you VIP status.
		a.accountBonuses__more(href="#")
			|Read more about the VIP program
		.accountBonuses__form
		
