.popupLogin
	.popupLogin__title Enter account
	img.popupLogin__close(src="img/profile/close.png" alt="")
	form.popupLogin__form
		.popupLogin__item
			label.popupLogin__label E-mail, Phone or Login:
			input.popupLogin__input
		.popupLogin__item
			label.popupLogin__label Password:
			input.popupLogin__input(type="password")
		a.popupLogin__link(href="#") Register
		a.popupLogin__link(href="#") Forgot password?
		.popupLogin__item
			input.popupLogin__submit(type="submit" value="Login")
