section.accountDeposit
	.profile__container
		p.profile__path
			| Home page > My profile > To make a Deposit
		h2.profile__title To make a Deposit
		p.accountDeposit__text
			|With BOSSCASINO you can to play in live casino for real money in real time. Here you can deposit free. We offer a different range of promotions and payoffs for loyal players. More importantly, all your personal details and funds are safe with us. You can find numerous ways of payments in our system. Choose the best one and make deposit to play and win!
		table.accountDeposit__table
			thead
				tr.accountDeposit__header
					th Credit cards
					th The Commission
					th Processing time
					th Limitation on transactions
					th &nbsp;
			tbody
				tr.accountDeposit__row
					td.accountDeposit__item 
						img.accountDeposit__img(src="img/profile/visa.png" alt="")
						|VISA Credit card
					td.accountDeposit__item Free
					td.accountDeposit__item Instantly
					td.accountDeposit__item 
						span Min. 
							em 20
							|&nbsp;UAH
						span Max. 
							em 10000
							|&nbsp;UAH
					td.accountDeposit__item 
						button.accountDeposit__button Deposit
				tr.accountDeposit__openRow.accountDeposit__openRow--closed
					td(colspan="5") 
						.accountDeposit__openItem
							img.accountDeposit__close(src="img/profile/close.png" alt="")
							p.accountDeposit__openHeader
								img.accountDeposit__openImg(src="img/profile/visa.png" alt="")
								| VISA Credit card
							p.accountDeposit__openText
								| You can deposit your account immediately with the Visa Electron. Just put your details and after verification all your funds in the safe manner will be transferred to your betting account.
							form.accountDeposit__openForm(action="#")
								label.accountDeposit__openLabel Amount: 
									input.accountDeposit__openInput(placeholder="0.00")
								input.accountDeposit__openSubmit(type="submit" value="Play")
				tr.accountDeposit__row
					td.accountDeposit__item 
						img.accountDeposit__img(src="img/profile/visa.png" alt="")
						|VISA Credit card
					td.accountDeposit__item Free
					td.accountDeposit__item Instantly
					td.accountDeposit__item 
						span Min. 
							em 20
							|&nbsp;UAH
						span Max. 
							em 10000
							|&nbsp;UAH
					td.accountDeposit__item 
						button.accountDeposit__button Deposit
				tr.accountDeposit__openRow.accountDeposit__openRow--closed
					td(colspan="5") 
						.accountDeposit__openItem
							img.accountDeposit__close(src="img/profile/close.png" alt="")
							p.accountDeposit__openHeader
								img.accountDeposit__openImg(src="img/profile/visa.png" alt="")
								| VISA Credit card
							p.accountDeposit__openText
								| You can deposit your account immediately with the Visa Electron. Just put your details and after verification all your funds in the safe manner will be transferred to your betting account.
							form.accountDeposit__openForm(action="#")
								label.accountDeposit__openLabel Amount: 
									input.accountDeposit__openInput(placeholder="0.00")
								input.accountDeposit__openSubmit(type="submit" value="Play")
				tr.accountDeposit__row
					td.accountDeposit__item 
						img.accountDeposit__img(src="img/profile/visa.png" alt="")
						|VISA Credit card
					td.accountDeposit__item Free
					td.accountDeposit__item Instantly
					td.accountDeposit__item 
						span Min. 
							em 20
							|&nbsp;UAH
						span Max. 
							em 10000
							|&nbsp;UAH
					td.accountDeposit__item 
						button.accountDeposit__button Deposit
				tr.accountDeposit__openRow.accountDeposit__openRow--closed
					td(colspan="5") 
						.accountDeposit__openItem
							img.accountDeposit__close(src="img/profile/close.png" alt="")
							p.accountDeposit__openHeader
								img.accountDeposit__openImg(src="img/profile/visa.png" alt="")
								| VISA Credit card
							p.accountDeposit__openText
								| You can deposit your account immediately with the Visa Electron. Just put your details and after verification all your funds in the safe manner will be transferred to your betting account.
							form.accountDeposit__openForm(action="#")
								label.accountDeposit__openLabel Amount: 
									input.accountDeposit__openInput(placeholder="0.00")
								input.accountDeposit__openSubmit(type="submit" value="Play")
				tr.accountDeposit__row
					td.accountDeposit__item 
						img.accountDeposit__img(src="img/profile/visa.png" alt="")
						|VISA Credit card
					td.accountDeposit__item Free
					td.accountDeposit__item Instantly
					td.accountDeposit__item 
						span Min. 
							em 20
							|&nbsp;UAH
						span Max. 
							em 10000
							|&nbsp;UAH
					td.accountDeposit__item 
						button.accountDeposit__button Deposit
				tr.accountDeposit__openRow.accountDeposit__openRow--closed
					td(colspan="5") 
						.accountDeposit__openItem
							img.accountDeposit__close(src="img/profile/close.png" alt="")
							p.accountDeposit__openHeader
								img.accountDeposit__openImg(src="img/profile/visa.png" alt="")
								| VISA Credit card
							p.accountDeposit__openText
								| You can deposit your account immediately with the Visa Electron. Just put your details and after verification all your funds in the safe manner will be transferred to your betting account.
							form.accountDeposit__openForm(action="#")
								label.accountDeposit__openLabel Amount: 
									input.accountDeposit__openInput(placeholder="0.00")
								input.accountDeposit__openSubmit(type="submit" value="Play")
				tr.accountDeposit__row
					td.accountDeposit__item 
						img.accountDeposit__img(src="img/profile/visa.png" alt="")
						|VISA Credit card
					td.accountDeposit__item Free
					td.accountDeposit__item Instantly
					td.accountDeposit__item 
						span Min. 
							em 20
							|&nbsp;UAH
						span Max. 
							em 10000
							|&nbsp;UAH
					td.accountDeposit__item 
						button.accountDeposit__button Deposit
				tr.accountDeposit__openRow.accountDeposit__openRow--closed
					td(colspan="5") 
						.accountDeposit__openItem
							img.accountDeposit__close(src="img/profile/close.png" alt="")
							p.accountDeposit__openHeader
								img.accountDeposit__openImg(src="img/profile/visa.png" alt="")
								| VISA Credit card
							p.accountDeposit__openText
								| You can deposit your account immediately with the Visa Electron. Just put your details and after verification all your funds in the safe manner will be transferred to your betting account.
							form.accountDeposit__openForm(action="#")
								label.accountDeposit__openLabel Amount: 
									input.accountDeposit__openInput(placeholder="0.00")
								input.accountDeposit__openSubmit(type="submit" value="Play")
				tr.accountDeposit__row
					td.accountDeposit__item 
						img.accountDeposit__img(src="img/profile/visa.png" alt="")
						|VISA Credit card
					td.accountDeposit__item Free
					td.accountDeposit__item Instantly
					td.accountDeposit__item 
						span Min. 
							em 20
							|&nbsp;UAH
						span Max. 
							em 10000
							|&nbsp;UAH
					td.accountDeposit__item 
						button.accountDeposit__button Deposit
				tr.accountDeposit__openRow.accountDeposit__openRow--closed
					td(colspan="5") 
						.accountDeposit__openItem
							img.accountDeposit__close(src="img/profile/close.png" alt="")
							p.accountDeposit__openHeader
								img.accountDeposit__openImg(src="img/profile/visa.png" alt="")
								| VISA Credit card
							p.accountDeposit__openText
								| You can deposit your account immediately with the Visa Electron. Just put your details and after verification all your funds in the safe manner will be transferred to your betting account.
							form.accountDeposit__openForm(action="#")
								label.accountDeposit__openLabel Amount: 
									input.accountDeposit__openInput(placeholder="0.00")
								input.accountDeposit__openSubmit(type="submit" value="Play")
